﻿@page "/aboutus"
@inject IAdminMgr _IAdminMgr;


<div class="container term-form">
    <div class="col-lg-12 col-12 p-0">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>About Us</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <EditForm Model="@model" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                    <DataAnnotationsValidator />
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Title<span class="astick">*</span></label>
                                <InputText disabled @bind-Value="@model.page_title" type="text" class="form-control" id="sname" placeholder="Title" />
                                <ValidationMessage For="@(() => model.page_title)" />
                            </div>
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Meta Title<span class="astick">*</span></label>
                                <InputText maxlength="1000" @bind-Value="@model.page_metatitle" type="text" class="form-control" id="sname" placeholder="Meta Title" />
                                <ValidationMessage For="@(() => model.page_metatitle)" />
                            </div>
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Meta Keywords</label>
                                <InputText maxlength="1000" @bind-Value="@model.page_metakeywords" type="text" class="form-control" id="sname" placeholder="Meta Keywords" />
                                <ValidationMessage For="@(() => model.page_metakeywords)" />
                            </div>
                            <div class="form-group mb-4 col-lg-12">
                                <label for="cname">Meta Description</label>
                                <InputTextArea maxlength="1000" rows="6" cols="50" @bind-Value="@model.page_metadescription" type="text" class="form-control" id="sname" placeholder="Meta Description" />
                                <ValidationMessage For="@(() => model.page_metadescription)" />
                            </div>
                            <div class="form-group mb-4 col-lg-12">
                                <label for="cname">Content<span class="astick">*</span></label>
                                <textarea maxlength="1000" name="contentval" @bind="@model.page_content" type="text" class="form-control" placeholder="Content" />
                                @*<ValidationMessage For="@(() => model.page_content)" />*@
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>
@code {


    RTFAdmin _RTFAdmin;
    ResultObject<List<CmsPageData>> resObject;
    CmsPageData model;

    protected override void OnInitialized()
    {
        _RTFAdmin = new RTFAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        model = new CmsPageData();
        resObject = _RTFAdmin.cmsMasterreq("viewcmsreq", "About Us");
        if (resObject.ResultData.Count > 0)
        {
            model = resObject.ResultData.FirstOrDefault();
        }
        else
        {
            model = new CmsPageData();
        }
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        JSRuntime.InvokeVoidAsync("CSBindCmsCkeditor");

    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            JSRuntime.InvokeVoidAsync("CSBindCmsCkeditor");
        }
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "About Us" });
    }

    protected void HandleInvalidSubmit()
    {
        JSRuntime.InvokeVoidAsync("CSAlertMsg", "Info", "Please Fill Mandatory Field");
    }

    async void OnConfirm()
    {
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        string contant = await JSRuntime.InvokeAsync<string>("getEditor", "contentval");
        ResultObject<string> res1 = new ResultObject<string>();
        model.page_content = contant;
        if (model.page_content == null || model.page_content == "")
        {
            await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Info", "Please Fill Content Field");
        }
        else
        {
            res1 = _RTFAdmin.editCmsMaster("updatecms", "", model);
            if (res1.ResultMessage == "Success")
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "About Us updated successfully");
            }
            else if (res1.ResultMessage == "CMS Title Already Exists")
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", res1.ResultMessage);
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            resObject = _RTFAdmin.cmsMasterreq("viewcmsreq", "About Us");
            model = resObject.ResultData.FirstOrDefault();
        }
        StateHasChanged();
        await JSRuntime.InvokeVoidAsync("CSBindCmsCkeditor");
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }
}
