﻿@page "/contest"
@page "/contest/{param}"
@inject IAdminMgr _IAdminMgr;
@using RTF_Utilities;
@inject NavigationManager navigationmanager;
<div class="container term-form">
    <div class="col-lg-12 col-12 p-0">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        @if (resObject.ResultData.Count > 0)
                        {
                            <h4>Contest</h4>
                        }
                        else
                        {
                            <h4>Create Contest</h4>
                        }
                    </div>
                </div>
            </div>

            <div class="widget-content widget-content-area">
                <EditForm Model="@_resModel" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                    <DataAnnotationsValidator />
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group mb-6 col-lg-4">
                                <label for="venue">Contest Name<span class="astick">*</span></label>
                                <InputText maxlength="150" id="Contest Name" @bind-Value="_resModel.contest_name" type="text" name="Contest Name" placeholder="Enter Contest Name" class="form-control" />
                                <ValidationMessage For="@(() => _resModel.contest_name)" />
                            </div>

                            <div class="form-group mb-6 col-lg-4">
                                <label for="tournament">Select Tournament<span class="astick">*</span></label>
                                <InputSelect class="form-control form" id="home_team" name="home_team" @bind-Value="_resModel.tournament_id">
                                    <option value="">Select</option>
                                    @foreach (var tournamentdata in Tbl_Tournaments.ResultData)
                                    {
                                        <option value="@tournamentdata.tournament_id">@tournamentdata.tournament_name</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => _resModel.tournament_id)" />
                            </div>

                            <div class="form-group mb-4 col-lg-4">
                                <label for="match_status">Contest Type<span class="astick">*</span></label>
                                <InputSelect class="form-control" id="match_status" name="match_status" @bind-Value="_resModel.contest_type">
                                    @*<InputSelect ValueExpression="@(()=>_resModel.contest_type)" Value="@_resModel.contest_type"
                                        ValueChanged="@((string value) => OnValueChanged(value ))" class="form-control" id="match_status" name="match_status">*@
                                    <option value="">Select Contest Type</option>
                                    <option value="0">Free</option>
                                    <option value="1">General</option>
                                </InputSelect>
                                <ValidationMessage For="@(() => _resModel.contest_type)" />
                            </div>


                            <div class="form-group mb-6 col-lg-4">
                                <label for="venue">Entry Amount<span class="astick">*</span></label>
                                @if (_resModel.contest_type == "0")
                                {
                                    _resModel.entry_amount = "0";
                                    if (_resModel.packs == "")
                                    {
                                        _resModel.packs = "0";
                                    }
                                    Int64 maxpr = Convert.ToInt64(_resModel.packs) * Convert.ToInt64(_resModel.entry_amount);
                                    _resModel.max_prize = maxpr.ToString();
                                    <InputText disabled @oninput="@((ui) => { MaxPrizeEntry((string)ui.Value);})" maxlength="5" id="digit" @bind-Value="_resModel.entry_amount" type="text" name="Entry Amount" placeholder="Enter Entry Amount" class="form-control" />
                                    <ValidationMessage For="@(() => _resModel.entry_amount)" />
                                }
                                else
                                {
                                    <InputText @oninput="@((ui) => { MaxPrizeEntry((string)ui.Value);})" maxlength="5" id="digit" @bind-Value="_resModel.entry_amount" type="text" name="Entry Amount" placeholder="Enter Entry Amount" class="form-control" />
                                    <ValidationMessage For="@(() => _resModel.entry_amount)" />
                                    //@oninput="@((ui) => { MaxPrize((string)ui.Value);})"
                                }
                            </div>

                            <div class="form-group mb-6 col-lg-4">
                                <label for="venue">Packs<span class="astick">*</span></label>
                                <InputText disabled  maxlength="9" id="digit" @bind-Value="_resModel.packs" type="text" name="Packs" placeholder="Enter Packs" class="form-control" />
                                <ValidationMessage For="@(() => _resModel.packs)" />
                            </div>

                            <div class="form-group mb-6 col-lg-4">
                                <label for="venue">Max Prize</label>
                                <InputText disabled maxlength="20" id="Packs" @bind-Value="_resModel.max_prize" type="text" name="Max Prize" placeholder="Enter Max Prize" class="form-control" />
                            </div>

                            <div class="form-group mb-6 col-lg-4">
                                <label for="venue">Pack Win%<span class="astick">*</span></label>
                                <InputText disabled pattern="^\d*(\.\d{0,2})?$" maxlength="5" id="Packs" @bind-Value="_resModel.pack_win_percentage" type="text" name="Max Prize" placeholder="Enter Pack Win Percentage" class="form-control" />
                                <ValidationMessage For="@(() => _resModel.pack_win_percentage)" />
                            </div>

                            <div class="form-group mb-6 col-lg-4">
                                <label for="venue">Amount Distribute%<span class="astick">*</span></label>
                                <InputText disabled pattern="^\d*(\.\d{0,2})?$" maxlength="5" id="Packs" @bind-Value="_resModel.amount_distribute_percentage" type="text" name="Max Prize" placeholder="Enter Amount Distribute Percentage" class="form-control" />
                                <ValidationMessage For="@(() => _resModel.amount_distribute_percentage)" />
                            </div>

                        </div>
                    </div>

                    @if (resObject.ResultData.Count > 0)
                    {
                        @*<div class="modal-footer">
                            <input type="submit" id="btnSubmit" title="Update Contest" value="Update Contest" class="btn btn-primary" />
                        </div>*@
                    }
                    else
                    {
                        <div class="modal-footer">
                            <input type="submit" id="btnSubmit" title="Create Contest" value="Create Contest" class="btn btn-primary" />
                        </div>
                    }
                </EditForm>

            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string param { get; set; }
    ResultObject<List<Tbl_ContestAdmin>> resObject;
    Tbl_ContestAdmin _resModel;
    RTFAdmin _RTFAdmin;

    ResultObject<List<Tbl_Tournaments>> Tbl_Tournaments;

    bool entryamt = true;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _RTFAdmin = new RTFAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        _resModel = new Tbl_ContestAdmin();
        if (param != null)
        {
            param = param.Replace('_', '+');
            param = param.Replace('~', '/');
            param = Encryption.DecryptString(param, Encryption.passkey);
            if (param == "\0")
            {
                navigationmanager.NavigateTo("404");
            }
        }
        resObject = _RTFAdmin.contestData("viewcontestid", param);

        if (resObject.ResultData.Count > 0)
        {
            _resModel = resObject.ResultData.FirstOrDefault();
            if (_resModel.entry_amount == "0")
            {
                entryamt = false;
            }
        }
        _resModel.packs = "10000";
        _resModel.amount_distribute_percentage = "79.22";
        _resModel.pack_win_percentage = "75.00";
        Tbl_Tournaments = _RTFAdmin.viewTournament("viewTournment", "");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeVoidAsync("isNumberKey");
        JSRuntime.InvokeVoidAsync("isDecimalKey");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Add Contest" });
    }

    void OnConfirm()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        ResultObject<string> res1 = new ResultObject<string>();
        res1 = _RTFAdmin.insertContest("addContest", "", _resModel);
        if (res1.ResultMessage == "Success")
        {
            if (resObject.ResultData.Count > 0)
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Contest updated successfully.");
            }
            else
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Contest added successfully.");
            }
            navigationmanager.NavigateTo("contestlist");
        }
        else if (res1.ResultMessage == "Contest Already Exists")
        {
            JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", res1.ResultMessage);
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            resObject = new ResultObject<List<Tbl_ContestAdmin>>();
            _resModel = new Tbl_ContestAdmin();
            StateHasChanged();
        }
    }

    protected void HandleInvalidSubmit()
    {

    }

    void MaxPrize(string value)
    {
        if (value != null && value != "")
        {
            if (_resModel.entry_amount == "")
            {
                _resModel.entry_amount = "0";
            }
            Int64 maxpr = Convert.ToInt64(_resModel.entry_amount) * Convert.ToInt64(value);
            _resModel.max_prize = maxpr.ToString();

        }
    }

    void MaxPrizeEntry(string value)
    {
        if (value != null && value != "")
        {
            if (_resModel.packs == "")
            {
                _resModel.packs = "0";
            }
            Int64 maxpr = Convert.ToInt64(_resModel.packs) * Convert.ToInt64(value);
            _resModel.max_prize = maxpr.ToString();
        }
    }


    //private Task OnValueChanged(string value)
    //{
    //    _resModel.tournament_id = value;
    //    return Task.CompletedTask;
    //}


}
