﻿@page "/changepassword"
@inject IAdminMgr _IAdminMgr;
<div class="container term-form">
    <div class="col-lg-12 col-12 p-0">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>Change Password</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div class="row">
                    <EditForm Model="@changep" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                        <DataAnnotationsValidator />
                        <div class="form-group mb-4 col-lg-6">
                            <label for="title">Old Password<span class="astick">*</span></label>
                            <input @bind="changep.oldpassword" type="password" class="form-control" id="Name" placeholder="Old Password" />
                            <ValidationMessage For="@(() => changep.oldpassword)" />
                        </div>
                        <div class="form-group mb-4 col-lg-6">
                            <label for="title">New Password<span class="astick">*</span></label>
                            <input @bind="changep.newpassword" type="password" class="form-control" id="Email" placeholder="New Password" />
                            <ValidationMessage For="@(() => changep.newpassword)" />
                        </div>
                        <div class="form-group mb-4 col-lg-6">
                            <label for="title">Confirm Password<span class="astick">*</span></label>
                            <input @bind="changep.confirmpassword" type="password" class="form-control" id="Password" placeholder="Confirm Password" />
                            <ValidationMessage For="@(() => changep.confirmpassword)" />
                            @{
                                if (showComapreMsg)
                                {
                                    <div class="validation-message">Password and Confirm password not match.</div>
                                }
                            }
                        </div>
                        <div class="col-lg-12">
                            <input name="Update" class="btn btn-primary" type="submit" value="Update">
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    RTFAdmin _RTFAdmin;
    ChangePasswordData changep;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _RTFAdmin = new RTFAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        changep = new ChangePasswordData();
    }


    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Change Password" });
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    void OnConfirm()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        if (changep.oldpassword == changep.confirmpassword)
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Info", "New Password can't be same as current password");
        }
        else
        {

            ResultObject<string> res = new ResultObject<string>();
            string oldpass = changep.oldpassword;
            res = _RTFAdmin.updatePassword("passudpate", changep.confirmpassword, oldpass,"");
            if (res.ResultMessage == "Success")
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Password  updated successfully.");

            }
            else if (res.ResultMessage == "The old password entered by you is incorrect")
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", res.ResultMessage);
            }
            else
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            changep = new ChangePasswordData();
            showComapreMsg = false;
        }
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }



    bool showComapreMsg = false;
    protected void HandleInvalidSubmit()
    {
        if (changep.newpassword != changep.confirmpassword)
        {
            showComapreMsg = true;
        }
        else
        {
            showComapreMsg = false;
        }
    }
}
