﻿@page "/faq"
@inject IAdminMgr _IAdminMgr;

<div class="layout-px-spacing terms-view">
    <div class="row layout-spacing">
        <div class="col-lg-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>View Faq</h4>
                            <button style="top:70px !important" type="button" @onclick="ShowConfigurePlanDialogAdd" title="Add Faq"
                                    class="btn btn-floating notification-btn btn-primary float-right btn-sm mt-1">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive mb-4">
                        <table id="testmonialTable" class="table style-3 table-hover" style="text-transform:capitalize">
                            <thead>
                                <tr>
                                    @*<th><input type="checkbox" id="checkall" @onclick="@checkboxselectvalueAll" /></th>*@
                                    <th>#</th>
                                    <th>Question</th>
                                    <th>Answer</th>
                                    <th class="text-right">Status</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (FaqData faq in res.ResultData)
                                    {
                                        <tr>
                                            @*<td class="checkbox-column"><input type="checkbox" @onchange="eventArgs => { checkboxselectvalue(faq.faq_id.ToString(), eventArgs.Value); }" /> </td>*@
                                            <td></td>
                                            <td>@faq.faq_question</td>
                                            @if (faq.faq_question.Length > 250)
                                            {
                                                <td> @((MarkupString)faq.faq_answer)</td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @((MarkupString)faq.faq_answer.Substring(0, Math.Min(faq.faq_answer.Length, 500)))
                                                </td>
                                            }
                                            @if (faq.active == true)
                                            {
                                                <td class="text-right"><button @onclick="@(()=> editstatus(faq.faq_id,faq.active))" class="shadow-none badge outline-badge-primary" style="color:#8dbf42 !important; border: 1px solid #8dbf42 !important">Active</button></td>
                                            }
                                            else
                                            {
                                                <td class="text-right"><button @onclick="@(()=> editstatus(faq.faq_id,faq.active))" class="badge outline-badge-danger shadow-none">Inactive</button></td>
                                            }
                                            <td class="text-right">
                                                <ul class="table-controls">
                                                    <li id="editButton">
                                                        <a class="editButton" @onclick="@(() => ShowConfigurePlanDialogEdit(faq.faq_id.ToString()))" id="cityid" href="javascript:void(0);" data-placement="top" title="Edit" data-original-title="Edit">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                                 stroke-linejoin="round" class="feather feather-edit-2 p-1 br-6 mb-1">
                                                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a @onclick="@(() => delete(faq.faq_id.ToString()))" href="javascript:void(0);" data-placement="top" title="Delete"
                                                           data-original-title="Delete">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                                 stroke-linecap="round" stroke-linejoin="round"
                                                                 class="feather feather-trash p-1 br-6 mb-1">
                                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (showingDialog)
{
    <FaqPopUp popuptype="@popuptype" OnCancel="CancelConfigurePlanDialog" OnConfirm="ConfirmConfigurePlanDialog" model="_testm" />
}

@code {
    bool showingDialog;
    string popuptype = "";
    RTFAdmin _RTFAdmin;
    ResultObject<List<FaqData>> res;

    FaqData _testm;

    public string ckvalue { get; set; }
    bool checkbox;

    protected override void OnInitialized()
    {
        _RTFAdmin = new RTFAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        _testm = new FaqData();
        res = _RTFAdmin.viewfaq("viewfaq", "");
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        //JSRuntime.InvokeVoidAsync("cleardatatabel", "testmonialTable");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "View Faq" });
        JSRuntime.InvokeVoidAsync("CSBindDataTableFaq", "testmonialTable", false, 1, "ASC");
    }

    void ShowConfigurePlanDialogAdd()
    {
        popuptype = "Add";
        _testm = new FaqData();
        showingDialog = true;
    }
    void CancelConfigurePlanDialog()
    {
        popuptype = "";
        _testm = new FaqData();
        JSRuntime.InvokeVoidAsync("CSHideModel", "testmonialModel");
        showingDialog = false;
    }

    void ShowConfigurePlanDialogEdit(string id)
    {
        popuptype = "Edit";
        _testm = res.ResultData.Where(x => x.faq_id == Convert.ToInt32(id)).FirstOrDefault();
        showingDialog = true;
    }

    async void ConfirmConfigurePlanDialog()
    {
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        string contant = await JSRuntime.InvokeAsync<string>("getEditor", "contentval");
        _testm.faq_answer = contant;
        if (_testm.faq_answer == null || _testm.faq_answer == "")
        {
            await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Info", "Please Fill Answer Field");
        }
        else
        {

            ResultObject<string> res1 = new ResultObject<string>();
            res1 = _RTFAdmin.editfaq("updatefaq", "", _testm);
            showingDialog = false;
            await JSRuntime.InvokeVoidAsync("CSHideModel", "testmonialModel");
            if (res1.ResultMessage == "Success")
            {
                if (popuptype == "Edit")
                {
                    await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Faq updated successfully");
                }
                else
                {
                    await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Faq added successfully");
                    await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "testmonialTable");
                }
                res = _RTFAdmin.viewfaq("viewfaq", "");
            }
            else if (res1.ResultMessage == "Faq question Already Exists")
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", res1.ResultMessage);
                _testm = new FaqData();
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            _testm = new FaqData();
            StateHasChanged();
            await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        }
    }

    async void delete(string id)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the selected record?");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = _RTFAdmin.editfaq("deletefaq", id, _testm);
            _testm = new FaqData();
            if (res1.ResultMessage == "Success")
            {
                res = _RTFAdmin.viewfaq("viewfaq", "");
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Faq deleted successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "testmonialTable");
                //await JSRuntime.InvokeVoidAsync("CSBindDataTableRemoveFaq", "testmonialTable");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            StateHasChanged();
        }
    }

    void editstatus(int id, bool status)
    {
        ResultObject<string> res1 = new ResultObject<string>();
        res1 = _RTFAdmin.editfaq("activefaq", id.ToString(), _testm);
        _testm = new FaqData();
        if (res1.ResultMessage == "Success")
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Faq Status updated successfully");
            JSRuntime.InvokeVoidAsync("CSBindDataTableFaq", "testmonialTable", false, 1, "ASC");
            _testm = new FaqData();
            res = _RTFAdmin.viewfaq("viewfaq", "");
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
        }
    }



}