﻿@using System.ComponentModel.DataAnnotations;
@inject IJSRuntime JSRuntime;
@inject IAdminMgr _IAdminMgr;

<div class="modal fade bd-example-modal-lg" id="inningModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg match-view" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Innings</h4>
                <button type="button" @onclick="@OnCancel" class="close" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>

            <EditForm Model="@updateScore" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                <DataAnnotationsValidator />
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group mb-6 col-lg-6">
                            <label for="match_status">Match Status</label>
                            <select class="form-control" @onchange="markComplete" id="match_status" name="match_status">

                                @if (updateScore.match_status == 2 && updateScore.innings == 2)
                                {
                                    <option value="2">Complete</option>
                                }
                                else if (updateScore.match_status == 2)
                                {
                                    <option selected value="2">Complete</option>
                                    <option value="3">Draw</option>
                                    <option value="4">Super Over</option>
                                }
                                else if (updateScore.match_status == 3)
                                {
                                    <option value="2">Complete</option>
                                    <option selected value="3">Draw</option>
                                    <option value="4">Super Over</option>
                                }
                                else if (updateScore.match_status == 4)
                                {
                                    <option value="2">Complete</option>
                                    <option value="3">Draw</option>
                                    <option selected value="4">Super Over</option>
                                }
                                else
                                {
                                    <option value="2">Complete</option>
                                    <option value="3">Draw</option>
                                    <option value="4">Super Over</option>
                                }
                                @*if (updateScore.innings == 2)
                                                            {
                                                            <option value="2">Complete</option>
                                                            <option value="3">Draw</option>
                                    <option selected value="4">Super Over</option>
                                                            }*@

                            </select>
                        </div>
                        @if (showteam)
                        {
                            <div class="form-group mb-1 col-lg-12">
                                <label for="match_status" style="font-weight:bold">Mark Winning Team</label>
                            </div>

                            <div class="form-group mb-1 col-lg-2">
                                <label for="cname">Home Team <span style="color:@updateScore.hometeamcolorcode">(@updateScore.hometeamname.Trim())</span></label>
                                <input checked="@(updateScore.winning_team == 0)" @onchange="SelectionChangedHome" type="radio" id="toggle-one">
                            </div>
                            <div class="form-group mb-1 col-lg-2">
                                <label for="cname">Away Team <span style="color:@updateScore.awayteamcolorcode">(@updateScore.awayteamname.Trim())</span></label>
                                <input checked="@(updateScore.winning_team == 1)" @onchange="SelectionChangedAway" type="radio" id="toggle-one">
                            </div>
                            <div class="form-group mb-1 col-lg-12">
                                <ValidationMessage For="@(() => updateScore.winning_team)" />
                            </div>

                            @if (showRecolile)
                            {
                                <div class="form-group mb-1 col-lg-12">
                                    <label for="match_status" style="font-weight:bold">In Coin Reconcile:</label>
                                    &nbsp;&nbsp;&nbsp;<img src="images/coin.svg" height="20" alt="imgAvtar" /> @reconcile.ResultData.In_amt_bet.ToString("N")
                                    @if (@reconcile.ResultData.In_amt_bet == @reconcile.ResultData.In_amt_wallet)
                                    {
                                        <span>Success: </span> <img src="images/check-icon.png" alt="check-icon" />

                                    }
                                    else
                                    {
                                        <span>Failure: &nbsp;</span><img src="images/cross-icon.png" alt="check-icon" />
                                    }
                                </div>
                                <div class="form-group mb-1 col-lg-12">
                                    <label for="match_status" style="font-weight:bold">Out Coin Reconcile:</label>
                                    <img src="images/coin.svg" height="20" alt="imgAvtar" /> @reconcile.ResultData.out_amt_bet.ToString("N")
                                    <span>Success:</span> <img src="images/check-icon.png" alt="check-icon" />

                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Update Innings</button>
                    <button type="button" @onclick="@OnCancel" class="btn"><i class="flaticon-cancel-12"></i> Close</button>
                </div>
            </EditForm>

        </div>
    </div>
</div>


@code {
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public updateScore updateScore { get; set; }

    RTFAdmin _RTFAdmin;
    ResultObject<reconcile_amountAdmin> reconcile;

    bool showteam = false;
    bool showRecolile = false;
    protected override void OnInitialized()
    {
        if (updateScore.match_status == 3)
        {
            showteam = false;
        }
        else if (updateScore.innings == 2)
        {
            showteam = true;
            updateScore.match_status = 2;
        }
        else
        {
            updateScore.match_status = 2;
            showteam = true;
        }
        reconcile = new ResultObject<reconcile_amountAdmin>();
        _RTFAdmin = new RTFAdmin(iConfig, httpContextAccessor, _IAdminMgr);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSShowModel", "inningModel");
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    protected void HandleInvalidSubmit()
    {
    }

    //void popularck(object checkedValue)
    //{
    //    if ((bool)checkedValue)
    //    { updateScore.innings = 2; }
    //}



    void markComplete(ChangeEventArgs e)
    {
        string a = e.Value.ToString();
        if (a == "2")
        {
            showteam = true;
            updateScore.innings = 1;

        }
        else if (a == "3")
        {
            showteam = false;
            //updateScore.innings = 2;
            updateScore.winning_team = 0;
            showRecolile = false;
        }
        else if (a == "4")
        {
            showteam = false;
            updateScore.innings = 2;
            updateScore.winning_team = 0;
            showRecolile = false;
        }
        else if (a == "1")
        {
            showteam = false;
        }
        updateScore.match_status = short.Parse(a);
    }

    void SelectionChangedHome(ChangeEventArgs args)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        updateScore.winning_team = 0;
        reconcile = _RTFAdmin.reconcile_amount("reconcile_amount", updateScore.match_id.ToString(), updateScore.winning_team.ToString());
        showRecolile = true;
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    void SelectionChangedAway(ChangeEventArgs args)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        updateScore.winning_team = 1;
        reconcile = _RTFAdmin.reconcile_amount("reconcile_amount", updateScore.match_id.ToString(), updateScore.winning_team.ToString());
        showRecolile = true;
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }
}