﻿@page "/marketwin/{param}"
@inject IAdminMgr _IAdminMgr;
@inject NavigationManager navigationmanager;
@using RTF_Utilities;
@using RTF_BaseObject.RTF_API_Model;
<div class="container term-form">
    <div class="col-lg-12 col-12 p-0">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>Declare Market Winner</h4>
                    </div>
                    @if (_resModel.match_id != 0)
                    {
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <div class="col-xl-4 col-lg-12 col-md-4">
                                <div>
                                    <div class="upload mt-1 pr-md-4" style="height:82px;">
                                        <label style="font-weight:bold; font-size:large" for="fullName">Match <span style="color:@_resModel.hometeamcolorcode">@_resModel.hometeamname</span> vs <span style="color:@_resModel.awayteamcolorcode">@_resModel.awayteamname</span></label>
                                        <label style="font-weight:bold; font-size:small" for="fullName">@_resModel.match_date.Value.Date.ToString("dd-MM-yyyy") @timeformat at @_resModel.venue</label>
                                        <label style="font-weight:bold; font-size:small" for="fullName"><span>Match Staus: @_resModel.match_status_Val</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="widget-content widget-content-area">
            <div class="modal-body">
                @if (mappedData.ResultData.Count == 0)
                {
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 p-0 stock-analysis-tabing-panel-responsive">
                            <ul class="stock-analysis-tabing-ul nav nav-tabs" id="tabsJustified">
                                @{
                                    int ii = 0;
                                    foreach (var catDAta in selectionList.ResultData[0].cat_data)
                                    {
                                        if (ii == 0)
                                        {
                                            <li class="">
                                                <span style="cursor:pointer"
                                                      data-target="#@catDAta.category_name"
                                                      data-toggle="tab"
                                                      class="nav-link active"
                                                      title=@catDAta.category_name>@catDAta.category_name</span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="">
                                                    <span style="cursor:pointer"
                                                          data-target="#@catDAta.category_name"
                                                          data-toggle="tab"
                                                          class="nav-link"
                                                          title=@catDAta.category_name>@catDAta.category_name</span>
                                                    </li>
                                                }
                                                ii++;
                                            }
                                }
                            </ul>
                        </div>
                    </div>
                    <br />
                    <div id="new-stock-analysis" class="tab-content  company_tab_content">

                        @{
                            int __objIndex = 0;
                            int i = 0;
                            int ckCount = 0;
                            int ckCount_ = 0;
                            foreach (var marketData in selectionList.ResultData[0].cat_market_data)
                            {
                                if (i == 0)
                                {
                                    int marketCount = 0;
                                    int marketCount_ = 0;
                                    <section class="tab-pane active fade show" id=@marketData.category_name>
                                        @foreach (var marketDataDetails in marketData.market_data)
                                        {
                                            marketData.market_data[marketCount].isCheckCount = ckCount;
                                            <div class="row">
                                                <div class="form-group mb-3 col-lg-2">
                                                    <label style="font-weight:bold">@marketDataDetails.market_name:</label>
                                                </div>
                                                <div class="form-group mb-3 col-lg-5">
                                                    <select class="selectpicker form-control tempselectionddl_@objIndex" data-dropup-auto="false" data-size="8" multiple data-live-search="true" data-selected-text-format="count" id="ddlPack_@objIndex" @onchange="@(e => setResultSelection(e, marketDataDetails.isWon, marketDataDetails.market_id, marketData.category_id, Convert.ToInt64(param), 0, __objIndex))">
                                                        @*<option selected value="0_0_@objIndex">Choose Selection</option>*@
                                                        @foreach (var marketSelect in marketDataDetails.selection_data)
                                                        {
                                                            string sVAl = marketSelect.selection_id + "_" + marketSelect.selection_name + "_" + objIndex;
                                                            <option value="@sVAl">@marketSelect.selection_name</option>
                                                        }
                                                    </select>
                                                </div>

                                                <div class="form-group mb-3 col-lg-1"></div>
                                                <div class="form-group mb-3 col-lg-2">

                                                    <label>
                                                        <input checked="@(marketDataDetails.isWon == 1)" class="iswonclass" myattr="@objIndex" @onchange="eventArgs => { CheckboxClickedWon(marketDataDetails, eventArgs.Value, marketDataDetails.market_id); }" type="checkbox" />
                                                        Mark as Won
                                                    </label>
                                                </div>
                                                <div class="form-group mb-3 col-lg-2">
                                                    <label>
                                                        <input checked="@(marketDataDetails.isWon == 0)" class="isvoidclass" myattr="@objIndex" @onchange="eventArgs => { CheckboxClickedWVoid(marketDataDetails, eventArgs.Value, marketDataDetails.market_id); }" type="checkbox" />
                                                        Mark as Void
                                                    </label>
                                                </div>
                                            </div>

                                            ckCount++;
                                            marketCount++;
                                            objIndex++;
                                            __objIndex++;
                                        }
                                        <hr />
                                        @{
                                            List<getMarketCatAdmin> selectionListInPlay_ = selectionListInPlay.ResultData[0].cat_market_data.ToList();
                                            List<getMarketDatabyCatAdmin> getMarkets = selectionListInPlay_.FirstOrDefault().market_data.ToList();

                                            @foreach (var marketDataDetails in getMarkets)
                                            {
                                                getMarkets[marketCount_].isCheckCount = ckCount_;
                                                <div class="row">
                                                    <div class="form-group mb-3 col-lg-2">
                                                        <label style="font-weight:bold">@marketDataDetails.market_name:</label>
                                                    </div>
                                                    <div class="form-group mb-3 col-lg-5">
                                                        <select  class="selectpicker form-control tempselectionddl_@objIndex" data-dropup-auto="false" data-size="8" multiple data-live-search="true" data-selected-text-format="count" id="ddlPack_@objIndex" @onchange="@(e => setResultSelection(e, marketDataDetails.isWon, marketDataDetails.market_id, marketDataDetails.category_id, Convert.ToInt64(param), 1, __objIndex))">
                                                            @*<option selected value="0_0_@objIndex">Choose Selection</option>*@
                                                            @foreach (var marketSelect in marketDataDetails.selection_data)
                                                            {
                                                                string sVAl = marketSelect.selection_id + "_" + marketSelect.selection_name + "_" + objIndex;
                                                                <option value="@sVAl">@marketSelect.selection_name</option>
                                                            }
                                                        </select>
                                                    </div>

                                                    <div class="form-group mb-3 col-lg-1"></div>
                                                    <div class="form-group mb-3 col-lg-2">
                                                        <label>
                                                            <input checked="@(marketDataDetails.isWon == 1)" class="iswonclass" myattr="@objIndex" @onchange="eventArgs => { CheckboxClickedWon(marketDataDetails, eventArgs.Value, marketDataDetails.market_id); }" type="checkbox" />
                                                            Mark as Won
                                                        </label>
                                                    </div>
                                                    <div class="form-group mb-3 col-lg-2">
                                                        <label>
                                                            <input checked="@(marketDataDetails.isWon == 0)" class="isvoidclass" myattr="@objIndex" @onchange="eventArgs => { CheckboxClickedWVoid(marketDataDetails, eventArgs.Value, marketDataDetails.market_id); }" type="checkbox" />
                                                            Mark as Void
                                                        </label>
                                                    </div>
                                                </div>

                                                ckCount_++;
                                                marketCount_++;
                                                objIndex++;
                                                __objIndex++;
                                            }

                                        }



                                    </section>
                                }
                                else
                                {
                                    int marketCount1 = 0;
                                    <section class="tab-pane fade" id=@marketData.category_name>

                                        @foreach (var marketDataDetails in marketData.market_data)
                                        {
                                            marketData.market_data[marketCount1].isCheckCount = ckCount;
                                            <div class="row">
                                                <div class="form-group mb-3 col-lg-2">
                                                    <label style="font-weight:bold">@marketDataDetails.market_name:</label>
                                                </div>

                                                <div class="form-group mb-3 col-lg-5">
                                                    <select class="selectpicker form-control tempselectionddl_@objIndex" id="ddlPack_@objIndex" data-dropup-auto="false" data-size="8" multiple data-live-search="true" data-selected-text-format="count" @onchange="@(e => setResultSelection(e, marketDataDetails.isWon, marketDataDetails.market_id, marketData.category_id, Convert.ToInt64(param), 0, __objIndex))">
                                                        @*<option selected value="0_0_@objIndex">Choose Selection</option>*@
                                                        @foreach (var marketSelect in marketDataDetails.selection_data)
                                                        {
                                                            string sVAl = marketSelect.selection_id + "_" + marketSelect.selection_name + "_" + objIndex;
                                                            <option value="@sVAl">@marketSelect.selection_name</option>
                                                        }
                                                    </select>
                                                </div>

                                                <div class="form-group mb-3 col-lg-1"></div>
                                                <div class="form-group mb-3 col-lg-2">

                                                    <label><input checked="@(marketDataDetails.isWon == 1)" class="iswonclass" myattr="@objIndex" @onchange="eventArgs => { CheckboxClickedWon(marketDataDetails, eventArgs.Value, marketDataDetails.market_id); }" type="checkbox" /> Mark as Won</label>
                                                </div>
                                                <div class="form-group mb-3 col-lg-2">

                                                    <label><input checked="@(marketDataDetails.isWon == 0)" class="isvoidclass" myattr="@objIndex" @onchange="eventArgs => { CheckboxClickedWVoid(marketDataDetails, eventArgs.Value, marketDataDetails.market_id); }" type="checkbox" /> Mark as Void</label>
                                                </div>
                                            </div>
                                            ckCount++;
                                            marketCount1++;
                                            objIndex++;
                                            __objIndex++;
                                        }
                                    </section>
                                }
                                i++;
                            }


                        }

                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 p-0 stock-analysis-tabing-panel-responsive">
                            <ul class="stock-analysis-tabing-ul nav nav-tabs" id="tabsJustified">
                                @{
                                    int tab = 0;
                                    foreach (var MappedResultData in mappedData.ResultData.Select(x => x.cat_name).Distinct())
                                    {
                                        string tabname = MappedResultData + "1";
                                        if (tab == 0)
                                        {
                                            <li class="">
                                                <span style="cursor:pointer"
                                                      data-target="#@tabname"
                                                      data-toggle="tab"
                                                      class="nav-link active"
                                                      title="Match">@MappedResultData</span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="">
                                                    <span style="cursor:pointer"
                                                          data-target="#@tabname"
                                                          data-toggle="tab"
                                                          class="nav-link"
                                                          title="Runs">@MappedResultData</span>
                                                    </li>
                                                }
                                                tab++;

                                            }
                                }
                            </ul>
                        </div>
                    </div>
                    <br />
                    <form>
                        <div id="new-stock-analysis" class="tab-content  company_tab_content">
                            @{
                                int ckCount = 0;
                                foreach (var MappedResultData in mappedData.ResultData.Select(x => x.cat_name).Distinct())
                                {
                                    string tabname = MappedResultData + "1";
                                    if (ckCount == 0)
                                    {
                                        <section class="tab-pane active fade show" id=@tabname>
                                            @foreach (var marketData in mappedData.ResultData.Where(x => x.cat_name == MappedResultData.ToString()))
                                            {
                                                <div class="row">
                                                    <div class="form-group mb-3 col-lg-2">
                                                        <label style="font-weight:bold">@marketData.market_name</label>
                                                    </div>
                                                    <div class="form-group mb-3 col-lg-4">
                                                        <label style="font-weight:bold">@marketData.selection_name</label>
                                                    </div>
                                                    @*<div class="form-group mb-3 col-lg-1"></div>*@
                                                    @if (marketData.isWon == 1)
                                                    {
                                                        <div class="form-group mb-3 col-lg-2">
                                                            <label>Mark as Won</label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="form-group mb-3 col-lg-2">
                                                            <label>Mark as Void</label>
                                                        </div>
                                                    }


                                                    @if (marketData.isType == 1)
                                                    {
                                                        <div class="form-group mb-3 col-lg-2">
                                                            <label>In Play</label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="form-group mb-3 col-lg-2">
                                                            <label>Pre Play</label>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </section>
                                    }
                                    else
                                    {
                                        <section class="tab-pane fade" id=@tabname>
                                            @foreach (var marketData in mappedData.ResultData.Where(x => x.cat_name == MappedResultData.ToString()))
                                            {
                                                <div class="row">
                                                    <div class="form-group mb-3 col-lg-2">
                                                        <label style="font-weight:bold">@marketData.market_name</label>
                                                    </div>
                                                    <div class="form-group mb-3 col-lg-4">
                                                        <label style="font-weight:bold">@marketData.selection_name</label>
                                                    </div>
                                                    <div class="form-group mb-3 col-lg-1"></div>
                                                    @if (marketData.isWon == 1)
                                                    {
                                                        <div class="form-group mb-3 col-lg-2">
                                                            <label>Mark as Won</label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="form-group mb-3 col-lg-2">
                                                            <label>Mark as Void</label>
                                                        </div>
                                                    }

                                                    @if (marketData.isType == 1)
                                                    {
                                                        <div class="form-group mb-3 col-lg-2">
                                                            <label>In Play</label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="form-group mb-3 col-lg-2">
                                                            <label>Pre Play</label>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </section>
                                    }
                                    ckCount++;
                                }
                            }
                        </div>
                    </form>
                }
            <div class="modal-footer">
                <NavLink href="/viewmatch" title="Back to Match List"
                         class="btn btn-primary">
                    Back to Match List
                </NavLink>

                @if (mappedData.ResultData.Count == 0)
                {
                    <input type="submit" id="btnSubmit" @onclick="ShowPreview" title="Submit Market" value="Submit Market" class="btn btn-primary" />
                }
            </div>

            </div>
        </div>
    </div>
</div>

@if (showingDialog)
{
    <MarketPreviewPopUp OnCancel="CancelConfigurePlanDialog" OnConfirm="ConfirmConfigurePlanDialog" mappedResultData="_mappedResultData" />
}

@code{
    bool showingDialog;
    [Parameter] public string param { get; set; }
    RTFAdmin _RTFAdmin;

    ResultObject<updateScore> resObject;
    updateScore _resModel;
    string timeformat = "";

    int objIndex = 0;

    public int teamck1 { get; set; } = 2;
    public int teamck2 { get; set; } = 2;
    public int teamck3 { get; set; } = 2;
    int totalSalectionCount = 0;

    ResultObject<List<GetPackDataDetailsAdmin>> selectionList;

    ResultObject<List<GetPackDataDetailsAdmin>> selectionListInPlay;



    postPackDataAdminWin fillPackData;
    List<MappedResultData> _mappedResultData = new List<MappedResultData>();


    ResultObject<List<MappedResultData>> mappedData = new ResultObject<List<MappedResultData>>();

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _RTFAdmin = new RTFAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        if (param != null)
        {
            param = param.Replace('_', '+');
            param = param.Replace('~', '/');
            param = Encryption.DecryptString(param, Encryption.passkey);
            if (param == "\0")
            {
                navigationmanager.NavigateTo("404");
            }
        }
        resObject = _RTFAdmin.viewScore("viewMatchDetails", param);
        if (resObject.ResultMessage != "Data Not Found.")
        {
            mappedData = _RTFAdmin.viewMarketWinner("viewMarketWinner", param);
            _resModel = resObject.ResultData;
            DateTime time = DateTime.Today.Add((TimeSpan)_resModel.match_timeStr);
            timeformat = time.ToString("hh:mm tt");
            @if (mappedData.ResultData.Count == 0)
            {
                selectionList = _RTFAdmin.getPacksStaticData("get_packs_static_data_by_match_preplay", param);
                selectionListInPlay = _RTFAdmin.getPacksStaticData("get_packs_static_data_by_match_inplay", param);
            }
            fillPackData = new postPackDataAdminWin();
            fillPackData.match_id = long.Parse(param);
        }
        else
        {
            _resModel = new updateScore();
            mappedData = new ResultObject<List<MappedResultData>>();
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            for (int x = 0; x <= objIndex; x++)
            {
                //MappedResultData data = new MappedResultData();
                // _mappedResultData.Add(data);
                JSRuntime.InvokeVoidAsync("CSBindingMultiSelectWinner", "ddlPack_" + x);
                //JSRuntime.InvokeVoidAsync("CSBindingMultiSelect", "ddlPack_" + x);
            }
            totalSalectionCount = objIndex;
            objIndex = 0;
        }

        JSRuntime.InvokeVoidAsync("CSDynamicBindDDlWinner");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Market Winners" });
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    async void setResultSelection(ChangeEventArgs e, int isWon, long marketId, long catId, long matchId, int isType, int _objIndex)
    {
        if (e.Value.ToString() == "")
        {
            if (_mappedResultData.Where(x => x.market_id == marketId).Count() > 0)
            {
                _mappedResultData.RemoveAll(x => x.market_id == marketId);
            }
        }
        else
        {
            var result = await JSRuntime.InvokeAsync<string>("ddlMarket", "ddlPack_" + Convert.ToInt64(e.Value.ToString().Split("_")[2]));
            if (_mappedResultData.Where(x => x.market_id == marketId).Count() > 0)
            {
                _mappedResultData.RemoveAll(x => x.market_id == marketId);

                string comma = ",,";
                List<string> selecttionsData_ = result.Split(comma).ToList();
                foreach (string _Sdata in selecttionsData_.ToList())
                {
                    MappedResultData data = new MappedResultData();
                    data.cat_id = catId;
                    data.isWon = isWon;
                    data.market_id = marketId;
                    data.match_id = matchId;
                    if (selectionList.ResultData[0].cat_data.Where(x => x.category_id == catId).Count() <=0 )
                    {

                        data.cat_name = selectionListInPlay.ResultData[0].cat_data.Where(x => x.category_id == catId).Select(x => x.category_name).FirstOrDefault();
                        data.market_name = selectionListInPlay.ResultData[0].cat_market_data.Where(x => x.category_id == catId).Select(x => x.market_data).FirstOrDefault().Where(x => x.market_id == marketId).Select(x => x.market_name).FirstOrDefault();
                    }
                    else
                    {
                        data.cat_name = selectionList.ResultData[0].cat_data.Where(x => x.category_id == catId).Select(x => x.category_name).FirstOrDefault();

                        data.market_name = selectionList.ResultData[0].cat_market_data.Where(x => x.category_id == catId).Select(x => x.market_data).FirstOrDefault().Where(x => x.market_id == marketId).Select(x => x.market_name).FirstOrDefault();
                    }

                    if (data.market_name == null)
                    {
                        data.market_name = "";
                    }
                    data.selection_id = Convert.ToInt64(_Sdata.ToString().Split("_")[0]);
                    data.selection_name = _Sdata.ToString().Split("_")[1];
                    data.isType = isType;
                    _mappedResultData.Add(data);
                }

                //int dataInd = _mappedResultData.FindIndex(x => x.market_id == marketId);
                //_mappedResultData[dataInd].cat_id = catId;

                //_mappedResultData[dataInd].isWon = isWon;
                //_mappedResultData[dataInd].market_id = marketId;
                //if (catId == 7)
                //{
                //    _mappedResultData[dataInd].cat_name = selectionList.ResultData[0].cat_data.Where(x => x.category_id == catId).Select(x => x.category_name).FirstOrDefault();
                //    _mappedResultData[dataInd].market_name = selectionListInPlay.ResultData[0].cat_market_data.Where(x => x.category_id == catId).Select(x => x.market_data).FirstOrDefault().Where(x => x.market_id == marketId).Select(x => x.market_name).FirstOrDefault();
                //}
                //else
                //{
                //    _mappedResultData[dataInd].market_name = selectionList.ResultData[0].cat_market_data.Where(x => x.category_id == catId).Select(x => x.market_data).FirstOrDefault().Where(x => x.market_id == marketId).Select(x => x.market_name).FirstOrDefault();
                //    _mappedResultData[dataInd].cat_name = selectionList.ResultData[0].cat_data.Where(x => x.category_id == catId).Select(x => x.category_name).FirstOrDefault();
                //}
                //_mappedResultData[dataInd].match_id = matchId;
                //_mappedResultData[dataInd].selection_id = Convert.ToInt64(e.Value.ToString().Split("_")[0]);
                //_mappedResultData[dataInd].selection_name = e.Value.ToString().Split("_")[1];
                //_mappedResultData[dataInd].isType = isType;
            }
            else
            {
                MappedResultData data = new MappedResultData();
                data.cat_id = catId;




                data.isWon = isWon;
                data.market_id = marketId;
                data.match_id = matchId;
                if (selectionList.ResultData[0].cat_data.Where(x => x.category_id == catId).Count() <= 0)
                {

                    data.cat_name = selectionListInPlay.ResultData[0].cat_data.Where(x => x.category_id == catId).Select(x => x.category_name).FirstOrDefault();
                    data.market_name = selectionListInPlay.ResultData[0].cat_market_data.Where(x => x.category_id == catId).Select(x => x.market_data).FirstOrDefault().Where(x => x.market_id == marketId).Select(x => x.market_name).FirstOrDefault();
                }
                else
                {
                    data.cat_name = selectionList.ResultData[0].cat_data.Where(x => x.category_id == catId).Select(x => x.category_name).FirstOrDefault();

                    data.market_name = selectionList.ResultData[0].cat_market_data.Where(x => x.category_id == catId).Select(x => x.market_data).FirstOrDefault().Where(x => x.market_id == marketId).Select(x => x.market_name).FirstOrDefault();
                }

                if (data.market_name == null)
                {
                    data.market_name = "";
                }
                data.selection_id = Convert.ToInt64(e.Value.ToString().Split("_")[0]);
                data.selection_name = e.Value.ToString().Split("_")[1];
                data.isType = isType;
                _mappedResultData.Add(data);
            }
        }


    }

    void ShowPreview()
    {
        string chkvalidation = "";
        if (_mappedResultData.Select(x => x.market_id).Distinct().Count() == totalSalectionCount)
        {
            foreach (var MappedResultData in _mappedResultData)
            {

                if (MappedResultData.selection_id == 0_0 && MappedResultData.isWon != 0)
                {
                    chkvalidation = "notvalid";
                    break;
                }
                //if (MappedResultData.isWon == 2)
                //{
                //    chkvalidation = "notvalid";
                //    break;
                //}
                //if (MappedResultData.selection_id == 0)
                //{
                //    chkvalidation = "notvalid";
                //    break;
                //}
            }

        }
        else
        {
            chkvalidation = "notvalid";
        }

        if (_mappedResultData.Count == 0)
        {
            chkvalidation = "notvalid";
        }

        if (chkvalidation == "notvalid")
        {
            showingDialog = false;
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Please Fill All Entry");
        }
        else
        {
            showingDialog = true;
        }


    }

    void CancelConfigurePlanDialog()
    {
        JSRuntime.InvokeVoidAsync("CSHideModel", "MatchPrvModel");
        showingDialog = false;
    }

    void ConfirmConfigurePlanDialog()
    {
        ResultObject<string> res = new ResultObject<string>();
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");


        res = _RTFAdmin.insetMarkeWin("insertMarket", _mappedResultData);

        if (res.ResultMessage == "Success")
        {
            showingDialog = false;
            JSRuntime.InvokeVoidAsync("CSHideModel", "MatchPrvModel");
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Market Declared successfully");
            navigationmanager.NavigateTo("viewmatch");
            JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Some Error Occured");
        }


    }

    void CheckboxClickedWon(getMarketDatabyCatAdmin data, object checkedValue, long market_id)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        checkedValue = true;
        if ((bool)checkedValue)
            data.isWon = 1;
        else
            data.isWon = 0;
        JSRuntime.InvokeVoidAsync("CSDynamicBindDDlWinner");

        if (_mappedResultData.Where(x => x.market_id == market_id).Count() > 0)
        {
            _mappedResultData.Where(x => x.market_id == market_id).Select(c => { c.isWon = data.isWon; return c; }).ToList();
            //int dataInd = _mappedResultData.FindIndex(x => x.market_id == market_id);
            //_mappedResultData[dataInd].isWon = data.isWon;
        }
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    void CheckboxClickedWVoid(getMarketDatabyCatAdmin data, object checkedValue, long market_id)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        checkedValue = false;
        if ((bool)checkedValue)
            data.isWon = 1;
        else
            data.isWon = 0;
        JSRuntime.InvokeVoidAsync("CSDynamicBindDDlWinner");


        if (_mappedResultData.Where(x => x.market_id == market_id).Count() > 0)
        {
            _mappedResultData.RemoveAll(x => x.market_id == market_id);
            MappedResultData data1 = new MappedResultData();
            data1.isWon = data.isWon;
            data1.cat_id = data.category_id;

            data1.market_id = data.market_id;
            data1.match_id = long.Parse(param);
            // if (data.category_id == 7)
            if (selectionList.ResultData[0].cat_data.Where(x => x.category_id == data.category_id).Count() <= 0)
            {
                data1.cat_name = selectionListInPlay.ResultData[0].cat_data.Where(x => x.category_id == data.category_id).Select(x => x.category_name).FirstOrDefault();
                data1.isType = 1;
                data1.market_name = selectionListInPlay.ResultData[0].cat_market_data.Where(x => x.category_id == data.category_id).Select(x => x.market_data).FirstOrDefault().Where(x => x.market_id == data.market_id).Select(x => x.market_name).FirstOrDefault();
            }
            else
            {
                data1.cat_name = selectionList.ResultData[0].cat_data.Where(x => x.category_id == data.category_id).Select(x => x.category_name).FirstOrDefault();
                data1.isType = 0;
                data1.market_name = selectionList.ResultData[0].cat_market_data.Where(x => x.category_id == data.category_id).Select(x => x.market_data).FirstOrDefault().Where(x => x.market_id == data.market_id).Select(x => x.market_name).FirstOrDefault();
            }
            data1.selection_id = 0;
            data1.selection_name = "";
            _mappedResultData.Add(data1);
            //_mappedResultData.Where(x => x.market_id == market_id).Select(c => { c.isWon = data.isWon; return c; }).ToList();
            //_mappedResultData.Where(x => x.market_id == market_id).Select(c => { c.selection_id = 0; return c; }).ToList();
            //_mappedResultData.Where(x => x.market_id == market_id).Select(c => { c.selection_name = ""; return c; }).ToList();
            //int dataInd = _mappedResultData.FindIndex(x => x.market_id == market_id);
            //_mappedResultData[dataInd].isWon = data.isWon;
            //_mappedResultData[dataInd].selection_id = 0;
            //_mappedResultData[dataInd].selection_name = "";
        }
        else
        {
            MappedResultData data1 = new MappedResultData();
            data1.isWon = data.isWon;
            data1.cat_id = data.category_id;

            data1.market_id = data.market_id;
            data1.match_id = long.Parse(param);
            // if (data.category_id == 7)
            if (selectionList.ResultData[0].cat_data.Where(x => x.category_id == data.category_id).Count() <= 0)
            {
                data1.cat_name = selectionListInPlay.ResultData[0].cat_data.Where(x => x.category_id == data.category_id).Select(x => x.category_name).FirstOrDefault();
                data1.isType = 1;
                data1.market_name = selectionListInPlay.ResultData[0].cat_market_data.Where(x => x.category_id == data.category_id).Select(x => x.market_data).FirstOrDefault().Where(x => x.market_id == data.market_id).Select(x => x.market_name).FirstOrDefault();
            }
            else
            {
                data1.cat_name = selectionList.ResultData[0].cat_data.Where(x => x.category_id == data.category_id).Select(x => x.category_name).FirstOrDefault();
                data1.isType = 0;
                data1.market_name = selectionList.ResultData[0].cat_market_data.Where(x => x.category_id == data.category_id).Select(x => x.market_data).FirstOrDefault().Where(x => x.market_id == data.market_id).Select(x => x.market_name).FirstOrDefault();
            }
            data1.selection_id = 0;
            data1.selection_name = "";
            _mappedResultData.Add(data1);
        }
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }
}
