﻿@page "/updateodds/{param}"
@inject IAdminMgr _IAdminMgr;
@inject NavigationManager navigationmanager;
@using RTF_Utilities;
<div class="layout-px-spacing">
    <div class="account-settings-container layout-top-spacing">
        <div class="account-content">
            <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
                <div class="row">
                    <div class=" col-xl-12 col-lg-12 col-md-12 layout-spacing">
                        <div id="general-info" class="section general-info">
                            <div class="info">
                                <div class="row">
                                    <div class="col-lg-12 mx-auto">
                                        <div class="row">
                                            @if (_resModel.match_id != 0)
                                            {
                                                <div class="col-xl-4 col-lg-12 col-md-4">
                                                    <div>
                                                        <div class="upload mt-1 pr-md-4" style="height:82px;">
                                                            <label style="font-weight:bold; font-size:large" for="fullName">Match - <span style="color:@_resModel.hometeamcolorcode">@_resModel.hometeamname</span> vs <span style="color:@_resModel.awayteamcolorcode">@_resModel.awayteamname</span></label>
                                                            <label style="font-weight:bold; font-size:small" for="fullName">@_resModel.match_date.Value.Date.ToString("dd-MM-yyyy") @timeformat at @_resModel.venue</label>
                                                            <label style="font-weight:bold; font-size:small" for="fullName">Match Staus: @_resModel.match_status_Val</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-8 col-lg-12 col-md-8 mt-md-0 mt-4">
                                                    <div class="form">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label style="font-weight:bold; font-size:medium" for="fullName">Home Team - <span style="color:@_resModel.hometeamcolorcode">@_resModel.hometeamname</span></label>&nbsp;&nbsp;<span style="font-weight:bold; font-size:medium">Score: @_resModel.home_team_runsStatic/@_resModel.home_team_wicketsStatic (@_resModel.home_team_oversStatic)</span>
                                                                    <div class="d-sm-flex d-block">
                                                                        <div class="form-group mr-2">
                                                                            <select disabled class="form-control" id="exampleFormControlSelect1">
                                                                                @if (Homeddl == "0")
                                                                                {
                                                                                    <option selected value="0">Batting</option>
                                                                                    <option value="1">Bowling</option>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <option value="0">Batting</option>
                                                                                    <option selected value="1">Bowling</option>
                                                                                }
                                                                            </select>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label style="font-weight:bold; font-size:medium" class="dob-input">Away Team - <span style="color:@_resModel.awayteamcolorcode">@_resModel.awayteamname</span></label>&nbsp;&nbsp;<span style="font-weight:bold; font-size:medium">
                                                                    Score: @_resModel.away_team_runsStatic/@_resModel.away_team_wicketsStatic (@_resModel.away_team_oversStatic)
                                                                </span>
                                                                <div class="d-sm-flex d-block">
                                                                    <div class="form-group mr-2">
                                                                        <select disabled @bind="@Awayddl" class="form-control" id="exampleFormControlSelect1">
                                                                            <option value="1">Bowling</option>
                                                                            <option value="0">Batting</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content -->
                    <div class="col-xl-4 col-lg-6 col-md-5 col-sm-12 layout-top-spacing">
                        <div class="statbox widget box box-shadow">
                            <div id="general-info" class="section general-info">
                                <div class="info">
                                    <div class="row">
                                        <div class="col-xl-12 padding_top_brokege pt-0">
                                            <h5 class="float-left main_headings" style="font-weight:bold">Update Match Odds</h5>
                                        </div>
                                        <EditForm Model="@_resModel" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                                            <div class="form-group mb-4 col-lg-10">
                                                <label for="wicket">Home Team<span class="astick">*</span></label>
                                                <input id="oddsHome" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" min="0.0" @bind="_resModel.HomeTeam_odds" type="text" name="runs" />
                                                <ValidationMessage For="@(() => _resModel.HomeTeam_odds)" />
                                            </div>
                                            <div class="form-group mb-4 col-lg-10">
                                                <label for="wicket">Away Team<span class="astick">*</span></label>
                                                <input id="oddsAway" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" min="0.0" @bind="_resModel.AwayTeam_odds" type="text" name="runs" />
                                                <ValidationMessage For="@(() => _resModel.AwayTeam_odds)" />
                                            </div>
                                            @if (_resModel.match_status == 1 || _resModel.match_status == 0)
                                            {
                                                <div class="form-group mb-4 col-lg-10">
                                                    <input type="submit" id="btnSubmit" title="Update Odds" value="Update" class="btn btn-primary" />
                                                </div>
                                            }
                                        </EditForm>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8 col-lg-6 col-md-7 col-sm-12 layout-top-spacing">
                        <div class="statbox widget box box-shadow">
                            <div id="general-info" class="section general-info">
                                <div class="info">
                                    <div class="row">
                                        <div class="col-xl-12 padding_top_brokege pt-0">
                                            <h5 class="float-left main_headings" style="font-weight:bold">Odds History</h5>
                                            <div class="table-responsive mb-4 mt-4">
                                                <table id="viewmatchdt" class="multi-table table table-striped table-bordered table-hover non-hover" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>ODDS - HOME TEAM</th>
                                                            <th>ODDS - AWAY TEAM</th>
                                                            <th>TIMESTAMP</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            int i = 1;
                                                            if (oddList.ResultData != null)
                                                            {
                                                                foreach (MatchData match in oddList.ResultData.Where(x => x.match_id > 0))
                                                                {
                                                                    var a = match.oddHomeTeam.Split('#');
                                                                    <tr>
                                                                        <td>@i</td>
                                                                        @if (a.Length == 3)
                                                                        {
                                                                            var csplit = a[1].Split(',');
                                                                            @if (csplit[0] == "1")
                                                                            {
                                                                                <td>@a[0]</td>
                                                                                <td>@csplit[1]</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>@csplit[1]</td>
                                                                                <td>@a[0]</td>
                                                                            }

                                                                        }
                                                                        else
                                                                        {
                                                                            @if (a[1] == "1")
                                                                            {
                                                                                <td>@a[0]</td>
                                                                                <td></td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td></td>
                                                                                <td>@a[0]</td>
                                                                            }

                                                                        }
                                                                        <td>@match.match_date.Value.ToString("dd-MM-yyyy hh:mm:ss tt")</td>
                                                                    </tr>
                                                                    @*if (match.oddHomeTeam.Contains(','))
                                                                        {
                                                                            var a = match.oddHomeTeam.Split(',');
                                                                            <tr>
                                                                                <td>@i</td>
                                                                                <td>@a[0]</td>
                                                                                <td>@a[1]</td>
                                                                                <td>@match.match_date.Value.ToString("dd-MM-yyyy hh:mm:ss tt")</td>
                                                                            </tr>
                                                                        }
                                                                        else
                                                                        {
                                                                            var a = match.oddHomeTeam.Split('#');
                                                                            <tr>
                                                                                <td>@i</td>
                                                                                @if (a[1] == "1")
                                                                                {
                                                                                    <td>@a[0]</td>
                                                                                    <td></td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td></td>
                                                                                    <td>@a[0]</td>

                                                                                }
                                                                                <td>@match.match_date.Value.ToString("dd-MM-yyyy hh:mm:ss tt")</td>
                                                                            </tr>
                                                                        }*@

                                                                    i++;
                                                                }
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code{

    [Parameter] public string param { get; set; }
    RTFAdmin _RTFAdmin;
    ResultObject<updateScore> resObject;
    updateScore _resModel;

    ResultObject<List<MatchData>> oddList;


    string Homeddl { get; set; }
    string Awayddl { get; set; }

    string enable1 = "enabled";
    string enable2 = "disabled";

    string timeformat = "";

    decimal? HomeTeam_odds;
    decimal? AwayTeam_odds;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _RTFAdmin = new RTFAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        if (param != null)
        {
            param = param.Replace('_', '+');
            param = param.Replace('~', '/');
            param = Encryption.DecryptString(param, Encryption.passkey);
            if (param == "\0")
            {
                navigationmanager.NavigateTo("404");
            }
        }
        resObject = _RTFAdmin.viewScore("viewScore", param);
        if (resObject.ResultMessage != "Data Not Found.")
        {
            _resModel = resObject.ResultData;
            Homeddl = _resModel.batting.ToString();
            DateTime time = DateTime.Today.Add((TimeSpan)_resModel.match_timeStr);
            timeformat = time.ToString("hh:mm tt");
            oddList = _RTFAdmin.viewMatch("viewScoreOdd", param);
            HomeTeam_odds = resObject.ResultData.HomeTeam_odds;
            AwayTeam_odds = resObject.ResultData.AwayTeam_odds;
        }
        else
        {
            _resModel = new updateScore();
            oddList = new ResultObject<List<MatchData>>();
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        //if (firstRender)
        //{
        JSRuntime.InvokeVoidAsync("spinOdd");
        //}
        JSRuntime.InvokeVoidAsync("BindViewoddtexcel", "viewmatchdt", 0);
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Update Odds" });
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");

    }
    async void OnConfirm()
    {
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        ResultObject<string> res1 = new ResultObject<string>();
        _resModel.HomeTeam_odds = decimal.Parse(await JSRuntime.InvokeAsync<string>("spinValue", "oddsHome"));
        _resModel.AwayTeam_odds = decimal.Parse(await JSRuntime.InvokeAsync<string>("spinValue", "oddsAway"));

        //try
        //{
        //    _resModel.HomeTeam_odds = decimal.Parse(await JSRuntime.InvokeAsync<string>("spinValue", "oddsHome"));
        //    _resModel.AwayTeam_odds = decimal.Parse(await JSRuntime.InvokeAsync<string>("spinValue", "oddsAway"));
        //
        //}
        //catch (Exception ex)
        //{
        //    _resModel.HomeTeam_odds = (decimal)0.0;
        //    _resModel.AwayTeam_odds = (decimal)0.0;
        //}


        if ((_resModel.HomeTeam_odds == (decimal)0.0) && (_resModel.AwayTeam_odds == (decimal)0.0))
        {
            await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Please enter Odds Value greater than 0");
        }
        //else if ((resObject.ResultData.HomeTeam_odds == HomeTeam_odds) && (resObject.ResultData.AwayTeam_odds == AwayTeam_odds))
        //{
        //    await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Please update any odd value and then click Update button");
        //}
         else
         {
            res1 = _RTFAdmin.updaeScore("updaeScoreOdd", _resModel);
            if (res1.ResultMessage == "Success")
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Match Odds updated successfully.");
                resObject = _RTFAdmin.viewScore("viewScore", param);
                _resModel = resObject.ResultData;
                oddList = _RTFAdmin.viewMatch("viewScoreOdd", param);
                await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "viewmatchdt");
                HomeTeam_odds = resObject.ResultData.HomeTeam_odds;
                AwayTeam_odds = resObject.ResultData.AwayTeam_odds;
                StateHasChanged();
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
        }
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    protected void HandleInvalidSubmit()
    {

    }
}
