﻿@page "/notification"
@inject IAdminMgr _IAdminMgr;
@inject NavigationManager NavigationManager;
@using RTF_BaseObject.RTF_API_Model;

<div class="layout-px-spacing terms-view">
    <div class="row layout-spacing">
        <div class="col-lg-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Notifications</h4>
                            <button @onclick="@(() => ShowAddNotificationDialog())" class="btn btn-primary mt-2" type="button">
                                Add Notification
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive mb-4">
                        <table id="NotificationTable" class="table style-3 table-hover">
                            <thead>
                                <tr>
                                    <th>Sent To</th>
                                    <th>Title</th>
                                    <th>Message</th>
                                    <th>Send Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (submitNotificationModal notify in resNotify.ResultData)
                                    {
                                        <tr>
                                            <td>@notify.target_audience.Replace("_", " ").ToUpper()</td>
                                            <td>@notify.title</td>
                                            <td>@notify.message</td>
                                            <td>@notify.date</td>
                                            @if (notify.notification_success == true)
                                            {
                                                <td>
                                                    <span class="label label-success font-weight-200">Success</span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <span class="label label-success font-weight-200">Failed</span>
                                                </td>
                                            }

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@if (showingDialog)
{
    <NotificationPopUp OnCancel="CancelNotificationDialog"
                       OnConfirm="SubmitNotificationDialog"
                       NotifiyData="notificationModal" />
}



@code {
    bool showingDialog;
    RTFAdmin _RTFAdmin;
    submitNotificationModal notificationModal;
    ResultObject<string> resObject;
    ResultObject<List<submitNotificationModal>> resNotify;
    protected override void OnInitialized()
    {
        _RTFAdmin = new RTFAdmin(iConfig, httpContextAccessor, _IAdminMgr);

        resNotify = _RTFAdmin.getNotificationLog();

        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");

        //notificationModal = new submitNotificationModal();
        //notificationModal.message = "Rs. ONE LAKH prize money is up for grabs as Australia - India series is now live on Sports.cards";
        //notificationModal.title = "Sports Cards";
        //notificationModal.target_audience = "all";
        //resObject = _RTFAdmin.insertAndSendNotification(notificationModal);
        //if (resObject.Result == ResultType.Success)
        //{
        //    // model = resObject.ResultData.FirstOrDefault();
        //}
        //else
        //{

        //}
        //JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("bindnotificationDT");

        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }
    void ShowAddNotificationDialog()
    {
        notificationModal = new submitNotificationModal();
        showingDialog = true;
    }
    void CancelNotificationDialog()
    {
        JSRuntime.InvokeVoidAsync("CSHideModel", "large-Modal");
        showingDialog = false;
    }
    void SubmitNotificationDialog()
    {
        var nData = notificationModal;
        ResultObject<string> UpresData = _RTFAdmin.insertAndSendNotification(notificationModal);
        if (UpresData.Result == ResultType.Success)
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", UpresData.ResultMessage);
            showingDialog = false;
            JSRuntime.InvokeVoidAsync("CSHideModel", "large-Modal");
            resNotify = _RTFAdmin.getNotificationLog();
        }
        else if (UpresData.Result == ResultType.Info)
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Info", UpresData.ResultMessage);
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", UpresData.ResultMessage);
        }
        JSRuntime.InvokeVoidAsync("CSHideModel", "large-Modal");
        showingDialog = false;
    }

}
