﻿@page "/userlist"
@inject IAdminMgr _IAdminMgr;
@using RTF_Utilities;
<div class="layout-px-spacing match-view">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>View User</h4>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mb-4 mt-4">

                    <table id="viewuserdt" class="multi-table table table-striped table-bordered table-hover non-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Verified</th>
                                <th>Reg. Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (Tbl_Users list in resObject.ResultData)
                                {
                                    <tr>
                                        @if (list.profile_picture == null || list.profile_picture == "")
                                        {
                                            <td><img src="images/profile_img.jpg" style="height:40px;" alt="imgAvtar" /> @list.first_name  @list.last_name</td>
                                        }
                                        else
                                        {
                                            <td><img src="@list.profile_picture" style="height:40px; width:45px;" alt="imgAvtar" /> @list.first_name  @list.last_name</td>
                                        }
                                        <td>@stringblank@list.country_code_id-@list.mobile</td>
                                        <td>@list.email</td>
                                        <td>

                                            Mobile:
                                            @if (list.otp_is_verified == 1)
                                            {
                                                <img src="images/check-icon.png" alt="check-icon">
                                            }
                                            else
                                            {
                                                <img src="images/cross-icon.png" alt="check-icon">
                                            }

                                            @if (list.email_is_verified == 1)
                                            {
                                                <br />
                                                <br />
                                                <span>Email:&nbsp;&nbsp;</span> <img src="images/check-icon.png" alt="check-icon">
                                            }
                                            else if (list.email_is_verified == 0)
                                            {
                                                <br />
                                                <br />
                                                <span>Email:&nbsp;&nbsp;</span> <img src="images/cross-icon.png" alt="check-icon">
                                            }


                                        </td>


                                        <td>@list.created_at.Value.ToString("dd-MM-yyyy hh:mm tt")</td>
                                        <td class="text-center">
                                            <div class="dropdown custom-dropdown">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                                    @{
                                                        string encrypPass = Encryption.EncryptString(list.user_id.ToString(), Encryption.passkey);
                                                        encrypPass = encrypPass.Replace('+', '_');
                                                        encrypPass = encrypPass.Replace('/', '~');
                                                    }
                                                    <a class="dropdown-item" href="/viewtransaction/@encrypPass">View Transaction</a>
                                                    <a class="dropdown-item" @onclick="@(()=> openopopup(list.user_id))" href="javascript:void(0);">Add Coin</a>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if (showingDialog)
{
    <AddMoneyPopUp OnCancel="CancelDialog" OnConfirm="ConfirmDialog" wallet="walletdata" />
}

@code {
    [Parameter] public string param { get; set; }
    ResultObject<List<Tbl_Users>> resObject;
    Tbl_Users _MatchData;
    RTFAdmin _RTFAdmin;
    WalletTopUpAdd walletdata;
    bool showingDialog = false;

    string stringblank = "";

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _RTFAdmin = new RTFAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        resObject = _RTFAdmin.viewuser("viewuser", "");
        walletdata = new WalletTopUpAdd();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeVoidAsync("BindViewUserdtexcel", "viewuserdt", 4);
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "View User" });
    }

    void CancelDialog()
    {
        JSRuntime.InvokeVoidAsync("CSHideModel", "addMoneyModel");
        showingDialog = false;
        walletdata = new WalletTopUpAdd();
    }

    void openopopup(long id)
    {
        showingDialog = true;
        walletdata.user_id = id;
    }


    void ConfirmDialog()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        ResultObject<string> res1 = new ResultObject<string>();
        res1 = _RTFAdmin.walletTopUp("WalletTopUp", walletdata);
        if (res1.ResultMessage == "Success")
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Coin Added successfully.");
            walletdata = new WalletTopUpAdd();
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
        }
        JSRuntime.InvokeVoidAsync("CSHideModel", "addMoneyModel");
        showingDialog = false;
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

}
