﻿@page "/quizlist"
@inject IAdminMgr _IAdminMgr;
@using RTF_Utilities;

<div class="layout-px-spacing match-view">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>View Quiz</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive mb-4">
                        <table id="testmonialTable" class="table style-3 table-hover" style="text-transform:capitalize">
                    @*<div class="table-responsive mb-4 mt-4">
                        <table id="testmonialTable" class="multi-table table table-striped table-bordered table-hover non-hover" style="width:100%">*@
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Question Info</th>
                                    <th class="text-right">Status</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    foreach (Tbl_QuizAdmin list in resObject.ResultData)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>
                                                <b>Question-</b> @list.question
                                                <br /><b>Date-</b> @list.created_at.Value.Date.ToString("dd-MM-yyyy")
                                            </td>

                                            @if (list.status == true)
                                            {
                                                <td class="text-right"><button @onclick="@(()=> editstatus(list.question_id,list.status))" class="shadow-none badge outline-badge-primary" style="color:#8dbf42 !important; border: 1px solid #8dbf42 !important">Active</button></td>
                                            }
                                            else
                                            {
                                                <td class="text-right"><button @onclick="@(()=> editstatus(list.question_id,list.status))" class="badge outline-badge-danger shadow-none">Inactive</button></td>
                                            }
                                            <td class="text-right">
                                                <ul class="table-controls">

                                                    @{
                                                        string encrypPass = Encryption.EncryptString(list.question_id.ToString(), Encryption.passkey);
                                                        encrypPass = encrypPass.Replace('+', '_');
                                                        encrypPass = encrypPass.Replace('/', '~');
                                                    }
                                                    <li id="editButton">
                                                        <a href="/quiz/@encrypPass" class="editButton" id="cityid"  data-placement="top" title="Edit" data-original-title="Edit">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                                 stroke-linejoin="round" class="feather feather-edit-2 p-1 br-6 mb-1">
                                                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a @onclick="@(() => delete(list.question_id.ToString()))" href="javascript:void(0);" data-placement="top" title="Delete"
                                                           data-original-title="Delete">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                                 stroke-linecap="round" stroke-linejoin="round"
                                                                 class="feather feather-trash p-1 br-6 mb-1">
                                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string param { get; set; }
    ResultObject<List<Tbl_QuizAdmin>> resObject;
    Tbl_QuizAdmin _quizData;
    RTFAdmin _RTFAdmin;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _RTFAdmin = new RTFAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        resObject = _RTFAdmin.quizMaster("viewqa", "");
        _quizData = new Tbl_QuizAdmin();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeVoidAsync("CSBindDataTableQA", "testmonialTable", false, 1, "ASC");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "View Quiz" });
    }


    void editstatus(long id, bool? status)
    {
        ResultObject<string> res1 = new ResultObject<string>();
        res1 = _RTFAdmin.editQuizMaster("activeqa", id.ToString(), _quizData);
        if (res1.ResultMessage == "Success")
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Quiz Status updated successfully");
            JSRuntime.InvokeVoidAsync("CSBindDataTableQA", "testmonialTable", false, 1, "ASC");
            resObject = _RTFAdmin.quizMaster("viewqa", "");
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
        }
    }

    async void delete(string id)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the selected record?");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = _RTFAdmin.editQuizMaster("deleteqa", id.ToString(), _quizData);
            if (res1.ResultMessage == "Success")
            {
                resObject = _RTFAdmin.quizMaster("viewqa", "");
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Quiz deleted successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "testmonialTable");
                // await JSRuntime.InvokeVoidAsync("CSBindDataTableQA", "testmonialTable", false, 1, "ASC");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            StateHasChanged();
        }
    }

}
