﻿@page "/contestlist"
@inject IAdminMgr _IAdminMgr;
@using RTF_Utilities;


<div class="layout-px-spacing match-view">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>View Contest</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive mb-4">
                        <table id="contestable" class="table style-3 table-hover" style="text-transform:capitalize">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Entry Amt</th>
                                    <th>Packs</th>
                                    <th>Pack Win</th>
                                    <th>Amt Distribute</th>
                                    <th class="text-right">Status</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (Tbl_ContestAdmin list in resObject.ResultData)
                                    {
                                        <tr>
                                            <td>@list.contest_name</td>
                                            <td>@list.created_at.Value.Date.ToString("dd-MM-yyyy")</td>
                                            @if (list.contest_type == "1")
                                            {
                                                <td>General</td>
                                            }
                                            else
                                            {
                                                <td>Free</td>
                                            }
                                            <td>@list.entry_amount</td>
                                            <td>@list.packs</td>
                                            <td>@list.pack_win_percentage%</td>
                                            <td>@list.amount_distribute_percentage%</td>
                                            @if (list.status == 1)
                                            {
                                                <td class="text-right"><button @onclick="@(()=> editstatus(list.contest_id))" class="shadow-none badge outline-badge-primary" style="color:#8dbf42 !important; border: 1px solid #8dbf42 !important">Active</button></td>
                                            }
                                            else
                                            {
                                                <td class="text-right"><button @onclick="@(()=> editstatus(list.contest_id))" class="badge outline-badge-danger shadow-none">Inactive</button></td>
                                            }
                                            <td class="text-right">
                                                <ul class="table-controls">
                                                    @{
                                                        string encrypPass = Encryption.EncryptString(list.contest_id.ToString(), Encryption.passkey);
                                                        encrypPass = encrypPass.Replace('+', '_');
                                                        encrypPass = encrypPass.Replace('/', '~');
                                                    }
                                                    <li id="editButton">
                                                        <a href="/contest/@encrypPass" class="editButton" id="cityid" data-placement="top" title="Edit" data-original-title="Edit">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                                 stroke-linejoin="round" class="feather feather-edit-2 p-1 br-6 mb-1">
                                                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    @*<li>
                                                        <a @onclick="@(() => delete(list.contest_id.ToString()))" href="javascript:void(0);" data-placement="top" title="Delete"
                                                           data-original-title="Delete">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                                 stroke-linecap="round" stroke-linejoin="round"
                                                                 class="feather feather-trash p-1 br-6 mb-1">
                                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                    </li>*@
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    ResultObject<List<Tbl_ContestAdmin>> resObject;
    Tbl_ContestAdmin _quizData;
    RTFAdmin _RTFAdmin;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _RTFAdmin = new RTFAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        resObject = _RTFAdmin.contestData("viewcontest", "");
        _quizData = new Tbl_ContestAdmin();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeVoidAsync("CSBindDataTableContest", "contestable", false, 8, "ASC");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "View Contest" });
    }


    void editstatus(long id)
    {
        ResultObject<string> res1 = new ResultObject<string>();
        res1 = _RTFAdmin.insertContest("activecontest", id.ToString(), _quizData);
        if (res1.ResultMessage == "Success")
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Contest Status updated successfully");
            JSRuntime.InvokeVoidAsync("CSBindDataTableContest", "contestable", false, 8, "ASC");
            resObject = _RTFAdmin.contestData("viewcontest", "");
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
        }
    }

    async void delete(string id)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the selected record?");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = _RTFAdmin.insertContest("deletecontest", id.ToString(), _quizData);
            if (res1.ResultMessage == "Success")
            {
                resObject = _RTFAdmin.contestData("viewcontest", "");
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Contest deleted successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "contestable");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            StateHasChanged();
        }
    }
}