﻿@page "/packlist"
@inject IAdminMgr _IAdminMgr;
<div class="layout-px-spacing match-view">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>View Pack</h4>
                        </div>
                        <div class="mb-6 col-lg-4" id="betuserddl">
                            <select class="selectpicker form-control" data-dropup-auto="false" data-size="8" multiple data-live-search="true" data-selected-text-format="count" @onchange="getIpoid" id="ddlPack" show-tick>
                                @foreach (var applist in resUser.ResultData)
                                {
                                    <option value="@applist.user_id">@applist.first_name (@applist.mobile)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="table-responsive mb-4 mt-4">
                    <table id="viewbetdt" class="multi-table table table-striped table-bordered table-hover non-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>User Name & Mobile</th>
                                <th>Match Number</th>
                                <th>Match DateTime</th>
                                <th>Home/Away Team</th>
                                <th>Contest Name</th>
                                <th>Pack Name</th>
                                <th>Total Potential Payout</th>
                                <th>Entry Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (PackAdmin list in resObject.ResultData)
                                {
                                    <tr>
                                        <td>@list.first_name<br />+@list.mobile</td>
                                        <td>@list.MatchNumber</td>
                                        <td>@list.match_date.Value.Date.ToString("dd-MM-yyyy") @list.match_time </td>
                                        <td><span style="color:@list.hometeamcolorcode">@list.hometeamname</span> / <span style="color:@list.awayteamcolorcode">@list.awayteamname</span>  </td>
                                        <td>@list.contest_name</td>
                                        <td>@list.pack_name</td>
                                        <td>@list.total_potential_payout</td>
                                        <td>@list.packs</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string param { get; set; }
    ResultObject<List<PackAdmin>> resObject;
    ResultObject<List<Tbl_Users>> resUser;
    PackAdmin _MatchData;
    RTFAdmin _RTFAdmin;
    bool showingDialog = false;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _RTFAdmin = new RTFAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        resObject = _RTFAdmin.viewPack("viewPack", "");
        resUser = _RTFAdmin.viewuser("viewuser", "");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeVoidAsync("BindViewPackdtexcel", "viewbetdt", 0);
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "View Pack" });
        JSRuntime.InvokeVoidAsync("CSBindingMultiSelect", "ddlPack");
    }

    string userid = "";
    protected async void getIpoid(ChangeEventArgs e)
    {
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        var result = await JSRuntime.InvokeAsync<string>("ddl", "ddlPack");
        userid = result.ToString();
        if (userid == "")
        {
            resObject = _RTFAdmin.viewPack("viewPack", "");
        }
        else
        {
            resObject = _RTFAdmin.viewPack("viewPackUserId", result.ToString());
        }

        await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "viewbetdt");
        await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "viewbetdt");
        StateHasChanged();
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }
}