﻿@page "/viewtransaction/{param}"
@inject IAdminMgr _IAdminMgr;
@using RTF_Utilities;
@inject NavigationManager navigationmanager;
<div class="layout-px-spacing match-view">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4 class="h4head">View User Transaction</h4>
                        </div>
                        <div class="mb-6 col-lg-3" style="margin-top:5px;">
                            <label>User Name: @resUser.ResultData.Select(x => x.first_name).FirstOrDefault() @resUser.ResultData.Select(x => x.last_name).FirstOrDefault() </label>
                        </div>
                        <div class="mb-6 col-lg-3" style="margin-top:5px;">
                            <label>Mobile: +@resUser.ResultData.Select(x => x.country_code_id).FirstOrDefault()-@resUser.ResultData.Select(x => x.mobile).FirstOrDefault()</label>
                        </div>
                        <div class="mb-6 col-lg-3" style="margin-top:5px;">
                            <label>Current Wallet: <img src="images/coin.svg" height="20" alt="imgAvtar" /> @resUser.ResultData.Select(x => x.email).FirstOrDefault()</label>
                        </div>
                        <NavLink href="/userlist" title="Back to User List"
                                 class="btn btn-floating notification-btn btn-primary float-right btn-sm mt-1" style="margin-right:60px">
                            Back to User List
                        </NavLink>
                        <button type="button" title="Add Coin" @onclick="openopopup"
                                class="btn btn-floating notification-btn btn-primary float-right btn-sm mt-1">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="table-responsive mb-4 mt-4">

                    <table id="viewtranxdt" class="multi-table table table-striped table-bordered table-hover non-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>Transaction Date</th>
                                <th>Type Name</th>
                                <th>Coin</th>
                                <th>Transaction Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (Tbl_Wallet_Transaction_Admin list in resObject.ResultData)
                                {
                                    <tr>
                                        <td data-order="@list.created_at.Value.ToString("dd-MM-yyyy hh:mm tt")">@list.created_at.Value.ToString("dd-MM-yyyy hh:mm tt")</td>
                                        <td>@list.typename</td>
                                        @if (list.trans_type == "Cr")
                                        {
                                            <td><span class="shadow-none badge outline-badge-primary" style="color: #8dbf42 !important; border: 1px solid #8dbf42 !important">@list.amount</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="badge outline-badge-danger shadow-none">@list.amount</span></td>
                                        }
                                        <td>@list.trans_type</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if (showingDialog)
{
    <AddMoneyPopUp OnCancel="CancelDialog" OnConfirm="ConfirmDialog" wallet="walletdata" />
}

@code {
    [Parameter] public string param { get; set; }
    ResultObject<List<Tbl_Wallet_Transaction_Admin>> resObject;
    Tbl_Wallet_Transaction_Admin _MatchData;
    RTFAdmin _RTFAdmin;
    ResultObject<List<Tbl_Users>> resUser;
    bool showingDialog = false;
    WalletTopUpAdd walletdata;
    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _RTFAdmin = new RTFAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        if (param != null)
        {
            param = param.Replace('_', '+');
            param = param.Replace('~', '/');
            param = Encryption.DecryptString(param, Encryption.passkey);
            if (param == "\0")
            {
                navigationmanager.NavigateTo("404");
            }
        }
        resObject = _RTFAdmin.viewTransaction("viewTransaction", param);
        resUser = _RTFAdmin.viewuser("viewuserbyid", param);
        walletdata = new WalletTopUpAdd();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeVoidAsync("BindViewTrxdtexcel", "viewtranxdt", 0);
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "View Transaction" });
    }
    void CancelDialog()
    {
        JSRuntime.InvokeVoidAsync("CSHideModel", "addMoneyModel");
        showingDialog = false;
        walletdata = new WalletTopUpAdd();
    }
    void openopopup()
    {
        showingDialog = true;
        walletdata.user_id = long.Parse(param);
    }
    void ConfirmDialog()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        ResultObject<string> res1 = new ResultObject<string>();
        res1 = _RTFAdmin.walletTopUp("WalletTopUp", walletdata);
        if (res1.ResultMessage == "Success")
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Coin Added successfully.");
            JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "viewtranxdt");
            walletdata = new WalletTopUpAdd();
            JSRuntime.InvokeVoidAsync("CSReloadFunc");
            //resObject = _RTFAdmin.viewTransaction("viewTransaction", param);
            //resUser = _RTFAdmin.viewuser("viewuserbyid", param);
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
        }
        JSRuntime.InvokeVoidAsync("CSHideModel", "addMoneyModel");
        showingDialog = false;

        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

}
