﻿@using System.ComponentModel.DataAnnotations;
@inject IJSRuntime JSRuntime

<div class="modal fade bd-example-modal-lg" id="withdrawalpopup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Withdrawal Request Reamark</h5>
                <button type="button" @onclick="@OnCancel" class="close" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>

            <EditForm Model="@withdrawal" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                <DataAnnotationsValidator />
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group mb-6 col-lg-12">
                            <label for="match_status">Remark for Reject<span class="astick">*</span></label>
                            <InputText id="venue" type="text" maxlength="200" name="venu" @bind-Value="withdrawal.remarks" placeholder="Enter Remarks" class="form-control" />
                            <ValidationMessage For="@(() => withdrawal.remarks)" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Reject</button>
                    <button type="button" @onclick="@OnCancel" class="btn"><i class="flaticon-cancel-12"></i> Close</button>
                </div>
            </EditForm>

        </div>
    </div>

</div>

@code {
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public Tbl_Withdrawal_RequestAdmin withdrawal { get; set; }

    protected override void OnInitialized()
    {
        withdrawal.approve_status = 0;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSShowModel", "withdrawalpopup");
    }

    void raionSelectionA(ChangeEventArgs e)
    {
        withdrawal.approve_status = 1;
        withdrawal.remarks = "Remark";
    }

    void raionSelectionB(ChangeEventArgs e)
    {
        withdrawal.approve_status = 0;
        withdrawal.remarks = "";
    }



    protected void HandleInvalidSubmit()
    {
    }
}