﻿@page "/withdrawalxyz"
@inject IAdminMgr _IAdminMgr;

<div class="layout-px-spacing match-view">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>View User Withdrawal Request</h4>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mb-4 mt-4">
                    <table id="viewwithdt" class="multi-table table table-striped table-bordered table-hover non-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>Request Date</th>
                                <th>User Name & Mobile</th>
                                <th>Bank Name</th>
                                <th>Ifsc & Account Number</th>
                                <th>Upi Id</th>
                                <th>Amount</th>
                                <th>Branch Name & Address</th>
                                @*<th>Bank Address</th>*@
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (Tbl_Withdrawal_RequestAdmin list in resObject.ResultData)
                                {
                                    @if (list.approve_status == 0)
                                    {
                                        <tr style="background-color:#ffccRTF !important">
                                            <td>@list.created_at.Value.ToString("dd-MM-yyyy hh:mm tt")</td>
                                            <td><span>@list.first_name @list.last_name</span><br /><span>+@list.country_code-@list.mobile</span></td>
                                            <td>@list.bank_name </td>
                                            <td>IFSC: @list.ifsc_code <br /> @list.account_number</td>
                                            <td>@list.upi_id</td>
                                            <td>₹@list.amount</td>
                                            <td>Name: @list.bank_branch <br />Address: @list.bank_address</td>
                                            <td title="@list.remarks">Rejected</td>

                                        </tr>
                                    }
                                    else if (list.approve_status == 1)
                                    {
                                        <tr style="background-color:#7CFC00 !important">
                                            <td>@list.created_at.Value.ToString("dd-MM-yyyy hh:mm tt")</td>
                                            <td><span>@list.first_name @list.last_name</span> <br /><span>+@list.country_code-@list.mobile</span></td>
                                            <td>@list.bank_name </td>
                                            <td>IFSC: @list.ifsc_code <br /> @list.account_number</td>
                                            <td>@list.upi_id</td>
                                            <td>₹@list.amount</td>
                                            <td>Name: @list.bank_branch <br />Address: @list.bank_address</td>
                                            <td>Approved</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>@list.created_at.Value.ToString("dd-MM-yyyy hh:mm tt")</td>
                                            <td><span>@list.first_name @list.last_name</span> <br /><span>+@list.country_code-@list.mobile</span></td>
                                            <td>@list.bank_name </td>
                                            <td>IFSC: @list.ifsc_code <br /> @list.account_number</td>
                                            <td>@list.upi_id</td>
                                            <td>₹@list.amount</td>
                                            <td>Name: @list.bank_branch <br />Address: @list.bank_address</td>
                                            <td>
                                                <button @onclick="@(() => editstatus(list.withdrawal_id, 1))" class="shadow-none badge outline-badge-primary" style="color:#8dbf42 !important; border: 1px solid #8dbf42 !important">Approve</button>
                                                <button style="margin-top: 2px;" @onclick="@(() => Showwithdraw(list.withdrawal_id))" class="badge outline-badge-danger shadow-none">Reject</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@if (showingDialog)
{
    <WithdrawalPopUp OnCancel="CancelConfigure" OnConfirm="ConfirmConfigure" withdrawal="_withdrawData" />
}

@code {
    [Parameter] public string param { get; set; }
    ResultObject<List<Tbl_Withdrawal_RequestAdmin>> resObject;
    Tbl_Withdrawal_RequestAdmin _withdrawData;
    RTFAdmin _RTFAdmin;
    bool showingDialog = false;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _RTFAdmin = new RTFAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        resObject = _RTFAdmin.viewWithdrawal("viewWihdrawal", "");
        _withdrawData = new Tbl_Withdrawal_RequestAdmin();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeVoidAsync("BindViewwtihdrawdtexcel", "viewwithdt", 0);
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "View Withdrawal Request" });

    }

    void Showwithdraw(long id)
    {
        _withdrawData = resObject.ResultData.Where(x => x.withdrawal_id == id).FirstOrDefault();
        showingDialog = true;
    }

    void CancelConfigure()
    {
        _withdrawData = new Tbl_Withdrawal_RequestAdmin();
        JSRuntime.InvokeVoidAsync("CSHideModel", "withdrawalpopup");
        showingDialog = false;
    }

    public void editstatus(long id, int status)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        ResultObject<string> res1 = new ResultObject<string>();
        if (status == 1)
        {
            _withdrawData.approve_status = 1;
            _withdrawData.withdrawal_id = id;
        }
        res1 = _RTFAdmin.updateWirhdrawal("withdrawalupdate", _withdrawData);
        if (res1.ResultMessage == "Success")
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Approve updated successfully.");
            System.Threading.Thread.Sleep(2000);
            JSRuntime.InvokeVoidAsync("CSReloadFunc");
            //_withdrawData = new Tbl_Withdrawal_RequestAdmin();
            //resObject = _RTFAdmin.viewWithdrawal("viewWihdrawal", "");
            //JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "viewwithdt");
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
        }
        //StateHasChanged();
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");

    }

    void ConfirmConfigure()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        ResultObject<string> res1 = new ResultObject<string>();
        if (_withdrawData.approve_status == 1)
        {
            _withdrawData.remarks = "";
        }
        res1 = _RTFAdmin.updateWirhdrawal("withdrawalupdate", _withdrawData);
        if (res1.ResultMessage == "Success")
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Reject updated successfully.");
            System.Threading.Thread.Sleep(2000);
            JSRuntime.InvokeVoidAsync("CSReloadFunc");
            JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "viewwithdt");
            _withdrawData = new Tbl_Withdrawal_RequestAdmin();
            resObject = _RTFAdmin.viewWithdrawal("viewWihdrawal", "");
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
        }
        JSRuntime.InvokeVoidAsync("CSHideModel", "withdrawalpopup");
        showingDialog = false;
        // JSRuntime.InvokeVoidAsync("CSReloadFunc");
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }
}