﻿@using System.ComponentModel.DataAnnotations;
@inject IAdminMgr _IAdminMgr;
@using RTF_BaseObject.RTF_API_Model;
<div class="modal fade bd-example-modal-lg" id="MatchPrvModel" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Preview Market</h5>
                <button type="button" @onclick="@OnCancel" class="close" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 p-0 stock-analysis-tabing-panel-responsive">
                        <ul class="stock-analysis-tabing-ul nav nav-tabs" id="tabsJustified">
                            @{
                                // List<MappedResultData> mappedResultData
                                int tab = 0;
                                foreach (var MappedResultData in mappedResultData.Select(x => x.cat_name).Distinct())
                                {
                                    string tabname = MappedResultData + "1";
                                    if (tab == 0)
                                    {
                                        <li class="">
                                            <span style="cursor:pointer"
                                                  data-target="#@tabname"
                                                  data-toggle="tab"
                                                  class="nav-link active"
                                                  title="Match">@MappedResultData</span>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <span style="cursor:pointer"
                                                      data-target="#@tabname"
                                                      data-toggle="tab"
                                                      class="nav-link"
                                                      title="Runs">@MappedResultData</span>
                                                </li>
                                            }
                                            tab++;

                                        }
                            }
                        </ul>
                    </div>
                </div>
                <br />
                <form>
                    <div id="new-stock-analysis" class="tab-content  company_tab_content">
                        @{
                            int ckCount = 0;
                            foreach (var MappedResultData in mappedResultData.Select(x => x.cat_name).Distinct())
                            {
                                string tabname = MappedResultData + "1";
                                if (ckCount == 0)
                                {
                                    <section class="tab-pane active fade show" id=@tabname>
                                        @foreach (var marketData in mappedResultData.Where(x => x.cat_name == MappedResultData.ToString()))
                                        {
                                        <div class="row">
                                            <div class="form-group mb-3 col-lg-2">
                                                <label style="font-weight:bold">@marketData.market_name</label>
                                            </div>
                                            <div class="form-group mb-3 col-lg-4">
                                                <label style="font-weight:bold">@marketData.selection_name</label>
                                            </div>
                                            <div class="form-group mb-3 col-lg-1"></div>
                                            @if (marketData.isWon == 1)
                                            {
                                                <div class="form-group mb-3 col-lg-2">
                                                    <label>Mark as Won</label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group mb-3 col-lg-2">
                                                    <label>Mark as Void</label>
                                                </div>
                                            }

                                            @if (marketData.isType == 1)
                                            {
                                                <div class="form-group mb-3 col-lg-2">
                                                    <label>In Play</label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group mb-3 col-lg-2">
                                                    <label>Pre Play</label>
                                                </div>
                                            }
                                        </div>
                                        }
                                    </section>
                                }
                                else
                                {
                                    <section class="tab-pane fade" id=@tabname>
                                        @foreach (var marketData in mappedResultData.Where(x => x.cat_name == MappedResultData.ToString()))
                                        {
                                        <div class="row">
                                            <div class="form-group mb-3 col-lg-2">
                                                <label style="font-weight:bold">@marketData.market_name</label>
                                            </div>
                                            <div class="form-group mb-3 col-lg-4">
                                                <label style="font-weight:bold">@marketData.selection_name</label>
                                            </div>
                                            @*<div class="form-group mb-3 col-lg-1"></div>*@
                                            @if (marketData.isWon == 1)
                                            {
                                                <div class="form-group mb-3 col-lg-2">
                                                    <label>Mark as Won</label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group mb-3 col-lg-2">
                                                    <label>Mark as Void</label>
                                                </div>
                                            }

                                            @if (marketData.isType == 1)
                                            {
                                                <div class="form-group mb-3 col-lg-2">
                                                    <label>In Play</label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group mb-3 col-lg-2">
                                                    <label>Pre Play</label>
                                                </div>
                                            }
                                        </div>
                                        }
                                    </section>
                                }
                                ckCount++;
                            }
                        }
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" @onclick="@OnConfirm" id="btnSubmit" class="btn btn-primary">Save</button>
                <button type="button" @onclick="@OnCancel" class="btn"><i class="flaticon-cancel-12"></i> Close</button>
            </div>
        </div>
    </div>
</div>



@code {
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public List<MappedResultData> mappedResultData { get; set; }
    RTFAdmin _RTFAdmin;

    protected override void OnInitialized()
    {
        _RTFAdmin = new RTFAdmin(iConfig, httpContextAccessor, _IAdminMgr);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSShowModel", "MatchPrvModel");
    }

    protected void HandleInvalidSubmit()
    {
    }
}
