﻿@using System.ComponentModel.DataAnnotations;
@inject IAdminMgr _IAdminMgr;
<div class="modal fade bd-example-modal-lg" id="MatchContestModel" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Add Match Contest</h5>
                <button type="button" @onclick="@OnCancel" class="close" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>

            <EditForm Model="@modeldata" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                <DataAnnotationsValidator />
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group mb-4 col-lg-4">
                            <label for="cname">Select Contest<span class="astick">*</span></label>
                            <select class="selectpicker show-tick" data-dropup-auto="false" data-size="8" multiple data-live-search="true" data-selected-text-format="count" id="contestddl" show-tick>
                                @if (resContest.ResultData.Count > 0)
                                {
                                    foreach (var contestdata in resContest.ResultData.Where(x=>x.status>0))
                                    {
                                        if (resMatchcontest.Where(x => x.contest_id == contestdata.contest_id).ToList().Count > 0)
                                        {
                                            <option disabled value="@contestdata.contest_id">@contestdata.contest_name</option>
                                        }
                                        else
                                        {
                                            <option value="@contestdata.contest_id">@contestdata.contest_name</option>
                                        }
                                       
                                    }
                                }

                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>
                    <button type="button" @onclick="@OnCancel" class="btn"><i class="flaticon-cancel-12"></i> Close</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>
@code {
    [Parameter] public string matchidPopup { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public List<Tbl_Match_ContestAdmin> model { get; set; }
    [Parameter] public List<Tbl_Match_ContestAdmin> resMatchcontest { get; set; }

    ResultObject<List<Tbl_ContestAdmin>> resContest;

    ResultObject<List<Tbl_Match_ContestAdmin>> resMatchcontes;

    Tbl_Match_ContestAdmin modeldata;
    //Tbl_Match_ContestAdmin Editmodeldata;
    RTFAdmin _RTFAdmin;
    protected override void OnInitialized()
    {
        _RTFAdmin = new RTFAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        resContest = _RTFAdmin.contestData("viewcontestDdl", "");
        modeldata = new Tbl_Match_ContestAdmin();

        //resMatchcontes = _RTFAdmin.MatchtContestData("viewMatchContestByMatch", matchidPopup);
        //  Editmodeldata = new Tbl_Match_ContestAdmin();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        //if (firstRender)
        //{
            var strq = resMatchcontest.Select(x => x.contest_id).ToArray();
            JSRuntime.InvokeVoidAsync("CSBindingMultiSelecttext", "contestddl", "--Select--");
            JSRuntime.InvokeVoidAsync("checkSelected", "contestddl", strq);
        //}
        JSRuntime.InvokeVoidAsync("CSShowModel", "MatchContestModel");
    }

    protected void HandleInvalidSubmit()
    {
    }

    //protected async void multiselect(ChangeEventArgs e)
    //{
    //var status = await JSRuntime.InvokeAsync<string>("ddl", "contestddl");
    //var statusCount = status.Split(',');
    //model = new List<Tbl_Match_ContestAdmin>();
    //for (int i = 0; i < statusCount.Count(); i++)
    //{
    //    if (statusCount[0] != "")
    //    {
    //        modeldata.match_id = long.Parse(matchidPopup);
    //        modeldata.contest_id = int.Parse(statusCount[i]);
    //        model.Add(modeldata);
    //        modeldata = new Tbl_Match_ContestAdmin();
    //    }
    //}
    //}
}
