﻿@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Hosting;
@using RTF_BaseObject.RTF_API_Model;
@inject IWebHostEnvironment env;
@inject IHostingEnvironment hostenv;


<div class="modal fade bd-example-modal-lg" id="large-Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Add Notification</h5>
                <button @onclick="@OnCancel" type="button" class="close" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <EditForm Model="@NotifiyData" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                <DataAnnotationsValidator />

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group mb-4 col-lg-6">
                            <label for="title">Enter Title</label>
                            <input type="text" @bind="NotifiyData.title" class="form-control" id="title" placeholder="Enter Title" />
                        </div>
                        <div class="form-group mb-4 col-lg-6">
                            <label for="text">Enter Text</label>
                            <input type="text" @bind="NotifiyData.message" class="form-control" id="text" placeholder="Enter Text" />
                        </div>
                        <div class="form-group mb-4 col-lg-6">
                            <div class="btn-group bootstrap-select show" id="notification-select">
                                <select class="selectpicker" @bind="NotifiyData.target_audience" name="fcmtopic" tabindex="-98">
                                    <option value="">Select Target Audience</option>
                                    <option value="all">All</option>
                                    <option value="paid_contest_players">Paid Contest Players</option>
                                    <option value="unregistered_players">Unregistered Players</option>
                                    <option value="free_contest_players">Free Contest Players</option>
                                </select>
                                <ValidationMessage For="@(() => NotifiyData.target_audience)" />
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button class="btn" type="button" @onclick="@OnCancel"><i class="flaticon-cancel-12"></i> Close</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>


@code {
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public submitNotificationModal NotifiyData { get; set; }

    //private EditContext _editContext;
    private string StatusMessage;
    private string StatusClass;

    protected override void OnInitialized()
    {
      
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSShowModel", "large-Modal");
        JSRuntime.InvokeVoidAsync("CSBindNotifiSelectBox");
        //base.OnAfterRender(firstRender);
    }

    protected void HandleValidSubmit()
    {
        StatusClass = "alert-info";
        StatusMessage = DateTime.Now + " Handle valid submit";
    }
    protected void HandleInvalidSubmit()
    {
        StatusClass = "alert-danger";
        StatusMessage = DateTime.Now + " Handle invalid submit";
    }

}
