﻿@layout LoginLayout
@page "/"
@inject IAdminMgr _IAdminMgr;
@inject SessionState session;
@inject NavigationManager navigationmanager;


<div class="form-form">
    <div class="form-form-wrap">
        <div class="form-container nifty-login-form">
            <div class="form-content">
                <h1 class="">
                    Log In to <a href="javascript:void(0);"><span class="brand-name">Cricket24.Bet</span></a>
                </h1>
                <EditForm Model=@_AdminUserData OnValidSubmit=@SignIn OnInvalidSubmit="@HandleInvalidSubmit">
                    <DataAnnotationsValidator />
                    <div class="form">
                        <div id="username-field" class="field-wrapper input">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-user">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                            <InputText maxlength="1000" @bind-Value="_AdminUserData.email" id="userName" name="userName" class="form-control" placeholder="Email" />
                            <ValidationMessage For="@(() => _AdminUserData.email)" />
                        </div>
                        <div id="password-field" class="field-wrapper input mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-lock">
                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                            </svg>
                            <InputText maxlength="1000" @bind-Value="_AdminUserData.password" id="password" name="userPass" type="password" class="form-control" placeholder="Password" />
                            <ValidationMessage For="@(() => _AdminUserData.password)" />
                        </div>
                        <div class="d-sm-flex justify-content-between">
                            <div class="field-wrapper toggle-pass">
                            </div>
                            <div class="field-wrapper">
                                <button type="submit" class="btn btn-primary" value="Login"> Log In </button>
                            </div>
                        </div>
                        <div class="field-wrapper">
                            <a href="/forgotpassword" class="forgot-pass-link">Forgot Password?</a>
                        </div>

                      
                    </div>
                </EditForm>
                <p class="terms-conditions text-center">© 2020 Cricket24.Bet. All Rights Reserved. </p>
            </div>
        </div>
    </div>
</div>
<div class="form-image">
    <div class="l-image"></div>
</div>

@code {

    public string Username { get; set; }
    public string Password { get; set; }

   

    ResultObject<Tbl_Admin_User> resLog;
    Tbl_Admin_User _AdminUserData;
    RTFAdmin _LogIn;
    protected override void OnInitialized()
    {
        _LogIn = new RTFAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        _AdminUserData = new Tbl_Admin_User();
        //_AdminUserData.email = "v2rsolutionteam@gmail.com";
        //_AdminUserData.password = "123456";
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Login" });
    }

    private async Task SignIn(EditContext editContext)
    {
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        try
        {
            ResultObject<Tbl_Admin_User> resData = _LogIn.adminLoginAuth("loginCheck", _AdminUserData);
            if (resData.ResultMessage == "Success")
            {
                if (!session.Items.ContainsKey("AuthLoginData"))
                {
                    session.Items.Add("AuthLoginData", resData.ResultData);
                    await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
                    await JSRuntime.InvokeAsync<string>(
                "clientJsMethods.RedirectTo", "/dashboard");
                }
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
                await JSRuntime.InvokeAsync<string>("CSAlertMsg", "info", "Invalid email id or password");
            }
        }
        catch (Exception)
        {
            await JSRuntime.InvokeAsync<string>("CSReloadFunc");
        }
    }


    protected void HandleInvalidSubmit()
    {
    }

    
}