.nifty-login-form {
  padding: 1.714286rem 1.857143rem !important;
}
.nifty-login-form .form {
  margin-top: 60px !important;
}
.form-image .l-image {
    background-image: url(../img/cricketbet.png);
    background-color: #060818 !important;
}

.progress-active .progress-bar.bg-gradient-secondary {
  background-color: #1be233 !important;
  background-image: linear-gradient(
    to right,
    #77ff75 0%,
    #4def24 100%
  ) !important;
}
.progress-active .progress-bar {
  font-size: 10px;
  font-weight: 700;
  box-shadow: 0 2px 4px rgba(0, 255, 90, 0.15),
    0 8px 16px rgba(75, 255, 0, 0.28);
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 100;
}

.widget-four .widget-heading {
  margin-bottom: 10px;
}
.widget.widget-one .w-chart .w-chart-section .w-detail {
  position: unset !important;
}
.widget-card-four .progress {
  margin-top: 31px;
}
.widget-card-four {
  padding: 20px 20px !important;
}

.anlysis-file-input {
  width: 500px !important;
  margin-bottom: 20px;
}
.anlysis-file-input input,
.anlysis-file-input label {
  width: 40%;
  cursor: pointer;
  float: left;
  border: 1px solid #ced4da;
}
.anlysis-file-input .form-group {
  margin-bottom: 0px !important;
}
.anlysis-file-input button {
  width: 20%;
  cursor: pointer;
  float: left;
  margin-left: 20px;
  padding: 9px 1.25rem !important;
  background: #1b55e2 !important;
  border: none;
}
@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length {
    text-align: left !important;
  }
  div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
  }
  .users-select {
    position: absolute;
    top: 65px !important;
    left: 20px;
  }
}
.terms-view .layout-spacing {
  padding-bottom: 40px;
  padding-top: 20px;
}
.terms-view h4 {
  margin: 0;
  font-size: 20px !important;
  font-weight: 700 !important;
  padding: 20px 10px 0px !important;
}
.terms-view table.dataTable {
  margin-top: 30px !important;
}
#content .term-form {
  margin-top: 20px !important;
  max-width: 100% !important;
  margin-bottom: 20px !important;
}
.term-form h4 {
  padding: 20px 10px 0px !important;
  font-weight: 700;
  font-size: 20px !important;
}
.term-form .ql-container {
  height: auto !important;
}
.term-form .layout-spacing {
  padding-bottom: 15px;
}
.term-form form {
  width: 100% !important;
}
.term-form .layout-top-spacing {
  margin-top: 16px !important;
}

tfoot {
  display: table-header-group;
}
.users-select {
  position: absolute;
  right: 27px;
  top: 80px;
}
.term-btn {
  position: absolute;
  z-index: 999;
  right: 210px;
  top: 73px;
}
.notification-btn {
  position: absolute;
  right: 210px;
  top: 73px;
  z-index: 99;
}
#notification-select .dropdown-toggle,
#notification-select1 .dropdown-toggle {
  border: 1px solid #bfc9d4 !important;
  box-shadow: none !important;
}
#notification-select,
#notification-select1 {
  width: 100% !important;
}
#notification-select .bootstrap-select,
#notification-select1 .bootstrap-select {
  width: 100% !important;
}
.disc-form textarea.form-control {
  height: 150px !important;
}

::selection {
  color: #ffffff !important;
  background: #3390ff !important;
}
.stock-analysis-top h4 {
  margin-bottom: 0px !important;
  font-size: 20px !important;
  font-weight: 700 !important;
}
.style-3 ul {
  margin-bottom: 0px !important;
}
.stock-btn {
  position: absolute;
  right: 205px;
  top: 57px;
  z-index: 99;
  padding: 0.4375rem 10px 0.4375rem 7px !important;
}
.dt-buttons .dt-button {
  margin-top: 9px !important;
}
.stock-data {
  padding: 0px !important;
  margin-top: -30px !important;
}
#default-ordering {
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}
.all-orders {
  padding: 20px 10px 0px !important;
  font-size: 20px !important;
  font-weight: 700 !important;
}
.flatpickr-calendar.open {
  z-index: 9999 !important;
}
#default-ordering thead tr th:first-child,
#default-ordering tbody tr td:first-child {
  width: 200px !important;
}
#individual-col-search .form-control {
  height: 40px !important;
}
.bootstrap-select.btn-group > .dropdown-toggle {
  padding: 8px 1.25rem !important;
  margin-top: -9px !important;
}
.all-users-detail #individual-col-search_filter {
  display: none !important;
}
.all-users-detail label {
  margin-bottom: 0px !important;
}
.all-users-detail .form-control {
  height: 40px !important;
}
.layout-spacing {
  padding-bottom: 20px !important;
}
.st-analysis .widget-content-area {
  -webkit-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.0901961),
    0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06) !important;
  -moz-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.0901961),
    0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06) !important;
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.0901961),
    0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06) !important;
}
.sub-header-container .navbar {
  box-shadow: none !important;
}
.widget-one_hybrid.widget-followers,
.widget-one_hybrid.widget-referral {
  /* background: #ffffff !important; */
  margin: 0px 0px 10px;
}
.w-active-app p {
  color: #506690 !important;
}
.widget-card-four .w-app-icon {
  color: #1b55e2 !important;
  border: 1px solid #1b55e2;
  /* background-color: #cad3f9 !important; */
}
.w-active-subs p {
  color: #506690 !important;
}
.widget-card-four .w-subs-icon {
  color: #f8538d !important;
  border: 1px solid #f8538d;
  background-color: transparent !important;
}
.widget-card-four .w-active-icon {
  color: #53c31a !important;
  border: 1px solid #53c31a;
  background-color: transparent !important;
}
.w-active-content p {
  color: #506690 !important;
}
.dashboard-active-box {
  background-color: #d1f7cf !important;
  min-height: 122px !important;
}
.dashboard-users-box {
  background-color: #ffdbf1 !important;
  min-height: 122px !important;
}
.widget-card-four .w-icon {
  height: 37px !important;
  width: 37px !important;
  padding: 5px 9px !important;
}
